In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline

In [2]:
batting = pd.read_csv("Batting.csv")
batting.shape

(104324, 22)

In [3]:
batting.head()

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0

In [6]:
batting_year_min = batting[['playerID','yearID']].groupby('playerID').min()

In [7]:
batting_year_max = batting[['playerID','yearID']].groupby('playerID').max()

In [11]:
batting10 = batting_year_max - batting_year_min
batting10 = batting10[batting10['yearID']>=10]

In [13]:
batting10.shape

(3509, 1)

In [26]:
hof = pd.read_csv("HallOfFame.csv")
hof.shape

(4191, 9)

In [27]:
hof1 = hof[['playerID', 'inducted']]
hof1.shape

(4191, 2)

In [31]:
batting1 = batting10.merge(hof1[hof1['inducted']=='Y'], on="playerID",how='left')

In [48]:
batting1

       playerID  yearID inducted
0     aardsda01      11      NaN
1     aaronha01      22        Y
2      aasedo01      13      NaN
3     abbated01      13      NaN
4     abbotgl01      11      NaN
5     abbotji01      10      NaN
6     abbotpa01      14      NaN
7     abernte02      17      NaN
8     abreubo01      18      NaN
9     adairje01      12      NaN
10    adamsba01      20      NaN
11    adamsbo03      13      NaN
12    adamsmi03      10      NaN
13    adamssp01      12      NaN
14    adamste01      10      NaN
15    adcocjo01      16      NaN
16    affelje01      13      NaN
17     ageeto01      11      NaN
18    agostju01      12      NaN
19    aguilri01      15      NaN
20    aguirha01      15      NaN
21    ainsmed01      14      NaN
22     akerja01      10      NaN
23    alberma01      11      NaN
24    aldremi01      10      NaN
25    aldresc01      10      NaN
26    aldrivi01      11      NaN
27    alexado01      18      NaN
28    alexama02      14      NaN
29    alexape01      19        Y
...         ...     ...      ...
3479  youngch04      11      NaN
3480  youngcu01      10      NaN
3481  youngcy01      21        Y
3482  youngdm01      12      NaN
3483  younger01      14      NaN
3484  younger02      10      NaN
3485  youngjo02      13      NaN
3486  youngke01      11      NaN
3487  youngma01      10      NaN
3488  youngmi02      13      NaN
3489  youngpe01      12      NaN
3490  yountro01      19        Y
3491  zachach02      10      NaN
3492  zachato01      18      NaN
3493   zahnge01      12      NaN
3494  zambrca01      11      NaN
3495  zarilal01      10      NaN
3496   zaungr01      15      NaN
3497  zeileto01      15      NaN
3498  zernigu01      10      NaN
3499  zimmech01      19      NaN
3500  zimmedo01      11      NaN
3501  zimmehe01      12      NaN
3502  zimmery01      12      NaN
3503   zinnji01      10      NaN
3504   ziskri01      12      NaN
3505   zitoba01      15      NaN
3506  zitzmbi01      10      NaN
3507  zobribe01      11      NaN
3508  zuberbi01      11      NaN

[3509 rows x 3 columns]

In [34]:
batting1.inducted.value_counts()

Y    238
Name: inducted, dtype: int64

In [35]:
238/3509

0.06782559133656313

In [43]:
name_list = list(batting1.playerID)

In [51]:
len(name_list)

3509

In [9]:
pd.concat([batting_year_min,batting_year_max],axis=1)

           yearID  yearID
playerID
aardsda01    2004    2015
aaronha01    1954    1976
aaronto01    1962    1971
aasedo01     1977    1990
abadan01     2001    2006
abadfe01     2010    2017
abadijo01    1875    1875
abbated01    1897    1910
abbeybe01    1892    1896
abbeych01    1893    1897
abbotda01    1890    1890
abbotfr01    1903    1905
abbotgl01    1973    1984
abbotje01    1997    2001
abbotji01    1989    1999
abbotku01    1993    2001
abbotky01    1991    1996
abbotod01    1910    1910
abbotpa01    1990    2004
aberal01     1950    1957
abercda01    1871    1871
abercre01    2006    2008
abernbi01    1952    1952
abernbr01    2001    2005
abernte01    1942    1944
abernte02    1955    1972
abernwo01    1946    1947
aberscl01    1947    1949
ablesha01    1905    1911
abnersh01    1987    1992
...           ...     ...
zimmejo02    2009    2017
zimmero01    1945    1945
zimmery01    2005    2017
zinkch01     2008    2008
zinkwa01     1921    1921
zinnfr01     1888    1888
zinngu01     1911    1915
zinnji01     1919    1929
zinsebi01    1944    1944
zinteal01    2002    2004
zipfebu01    1961    1962
ziskri01     1971    1983
zitoba01     2000    2015
zitzmbi01    1919    1929
zmiched01    1910    1911
zobribe01    2006    2017
zoccope01    2003    2003
zoldasa01    1944    1952
zoskyed01    1991    2000
zuberbi01    1936    1947
zuberjo01    1996    1998
zuletju01    2000    2001
zumayjo01    2006    2010
zuninmi01    2013    2017
zupcibo01    1991    1994
zupofr01     1957    1961
zuvelpa01    1982    1991
zuverge01    1951    1959
zwilldu01    1910    1916
zychto01     2015    2017

[19182 rows x 2 columns]

In [47]:
players = pd.read_csv("merged_players42-12.csv",index_col=0)

In [52]:
batting

,playerID,yearID,stint,teamID,lgID,G,AB,R,H,2B,...,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP
0,abercda01,1871,1,TRO,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
1,addybo01,1871,1,RC1,NaN,25,118,30,32,6,...,13.0,8.0,1.0,4,0.0,NaN,NaN,NaN,NaN,0.0
2,allisar01,1871,1,CL1,NaN,29,137,28,40,4,...,19.0,3.0,1.0,2,5.0,NaN,NaN,NaN,NaN,1.0
3,allisdo01,1871,1,WS3,NaN,27,133,28,44,10,...,27.0,1.0,1.0,0,2.0,NaN,NaN,NaN,NaN,0.0
4,ansonca01,1871,1,RC1,NaN,25,120,29,39,11,...,16.0,6.0,2.0,2,1.0,NaN,NaN,NaN,NaN,0.0
5,armstbo01,1871,1,FW1,NaN,12,49,9,11,2,...,5.0,0.0,1.0,0,1.0,NaN,NaN,NaN,NaN,0.0
6,barkeal01,1871,1,RC1,NaN,1,4,0,1,0,...,2.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,0.0
7,barnero01,1871,1,BS1,NaN,31,157,66,63,10,...,34.0,11.0,6.0,13,1.0,NaN,NaN,NaN,NaN,1.0
8,barrebi01,1871,1,FW1,NaN,1,5,1,1,1,...,1.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
9,barrofr01,1871,1,BS1,NaN,18,86,13,13,2,...,11.0,1.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
10,bassjo01,1871,1,CL1,NaN,22,89,18,27,1,...,18.0,0.0,1.0,3,4.0,NaN,NaN,NaN,NaN,0.0
11,battijo01,1871,1,CL1,NaN,1,3,0,0,0,...,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,0.0
12,bealsto01,1871,1,WS3,NaN,10,36,6,7,0,...,1.0,2.0,0.0,2,0.0,NaN,NaN,NaN,NaN,2.0
13,beaveed01,1871,1,TRO,NaN,3,15,7,6,0,...,5.0,2.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
14,bechtge01,1871,1,PH1,NaN,20,94,24,33,9,...,21.0,4.0,0.0,2,2.0,NaN,NaN,NaN,NaN,1.0
15,bellast01,1871,1,TRO,NaN,29,128,26,32,3,...,23.0,4.0,4.0,9,2.0,NaN,NaN,NaN,NaN,2.0
16,berkena01,1871,1,PH1,NaN,1,4,0,0,0,...,0.0,0.0,0.0,0,3.0,NaN,NaN,NaN,NaN,0.0
17,berryto01,1871,1,PH1,NaN,1,4,0,1,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
18,berthha01,1871,1,WS3,NaN,17,73,17,17,1,...,8.0,3.0,1.0,4,2.0,NaN,NaN,NaN,NaN,0.0
19,biermch01,1871,1,FW1,NaN,1,2,0,0,0,...,0.0,0.0,0.0,1,0.0,NaN,NaN,NaN,NaN,0.0
20,birdge01,1871,1,RC1,NaN,25,106,19,28,2,...,13.0,1.0,0.0,3,2.0,NaN,NaN,NaN,NaN,3.0
21,birdsda01,1871,1,BS1,NaN,29,152,51,46,3,...,24.0,6.0,0.0,4,4.0,NaN,NaN,NaN,NaN,1.0
22,brainas01,1871,1,WS3,NaN,30,134,24,30,4,...,21.0,4.0,0.0,7,2.0,NaN,NaN,NaN,NaN,1.0
23,brannmi01,1871,1,CH1,NaN,3,14,2,1,0,...,0.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
24,burrohe01,1871,1,WS3,NaN,12,63,11,15,2,...,14.0,0.0,0.0,1,1.0,NaN,NaN,NaN,NaN,0.0
25,careyto01,1871,1,FW1,NaN,19,87,16,20,2,...,10.0,5.0,0.0,2,1.0,NaN,NaN,NaN,NaN,0.0
26,carleji01,1871,1,CL1,NaN,29,127,31,32,8,...,18.0,2.0,1.0,8,3.0,NaN,NaN,NaN,NaN,3.0
27,conefr01,1871,1,BS1,NaN,19,77,17,20,3,...,16.0,12.0,1.0,8,2.0,NaN,NaN,NaN,NaN,1.0
28,connone01,1871,1,TRO,NaN,7,33,6,7,0,...,2.0,0.0,0.0,0,0.0,NaN,NaN,NaN,NaN,0.0
29,cravebi01,1871,1,TRO,NaN,27,118,26,38,8,...,26.0,6.0,3.0,3,0.0,NaN,NaN,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104294,woodal02,2017,1,LAN,NL,27,52,1,3,0,...,4.0,0.0,0.0,2,29.0,0.0,0.0,4.0,0.0,1.0
104295,woodbl01,2017,1,CIN,NL,55,1,0,0,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
104296,woodbl01,2017,2,LAA,AL,17,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104297,woodhu01,2017,1,TBA,AL,1,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104298,woodrbr01,2017,1,MIL,NL,8,10,2,2,0,...,0.0,0.0,0.0,1,2.0,0.0,0.0,1.0,0.0,0.0
104299,woodtr01,2017,1,KCA,AL,28,1,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,1.0
104300,woodtr01,2017,2,SDN,NL,12,17,3,4,0,...,6.0,0.0,0.0,0,7.0,0.0,0.0,0.0,0.0,0.0
104301,workmbr01,2017,1,BOS,AL,33,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104302,worleva01,2017,1,MIA,NL,26,22,0,4,0,...,3.0,0.0,0.0,0,8.0,0.0,0.0,5.0,0.0,1.0
104303,wrighda04,2017,1,LAA,AL,5,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104304,wrighmi01,2017,1,BAL,AL,13,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104305,wrighst01,2017,1,BOS,AL,5,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104306,yacabji01,2017,1,BAL,AL,14,2,0,0,0,...,1.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
104307,yateski01,2017,1,LAA,AL,1,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104308,yateski01,2017,2,SDN,NL,61,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104309,yelicch01,2017,1,MIA,NL,156,602,100,170,36,...,81.0,16.0,2.0,80,137.0,4.0,6.0,0.0,6.0,13.0
104310,ynoaga01,2017,1,BAL,AL,9,1,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104311,ynoami01,2017,1,CHA,AL,22,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104312,youngch03,2017,1,KCA,AL,14,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104313,youngch04,2017,1,BOS,AL,90,243,30,57,12,...,25.0,3.0,2.0,30,55.0,0.0,2.0,0.0,1.0,4.0
104314,younger03,2017,1,LAA,AL,47,110,24,29,5,...,16.0,12.0,3.0,5,31.0,0.0,7.0,3.0,0.0,0.0
104315,zagunma01,2017,1,CHN,NL,7,14,0,0,0,...,1.0,2.0,0.0,4,6.0,0.0,0.0,0.0,0.0,0.0
104316,zastrro01,2017,1,CHN,NL,4,3,0,1,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104317,zieglbr01,2017,1,MIA,NL,53,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
104318,zimmebr01,2017,1,CLE,AL,101,299,41,72,15,...,39.0,18.0,1.0,26,99.0,1.0,4.0,0.0,3.0,5.0
104319,zimmejo02,2017,1,DET,AL,29,6,0,1,0,...,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0
104320,zimmery01,2017,1,WAS,NL,144,524,90,159,33,...,108.0,1.0,0.0,44,126.0,1.0,3.0,0.0,5.0,16.0
104321,zobribe01,2017,1,CHN,NL,128,435,58,101,20,...,50.0,2.0,2.0,54,71.0,2.0,2.0,2.0,3.0,13.0
104322,zuninmi01,2017,1,SEA,AL,124,387,52,97,25,...,64.0,1.0,0.0,39,160.0,0.0,8.0,0.0,1.0,8.0
104323,zychto01,2017,1,SEA,AL,45,0,0,0,0,...,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
batting2 = batting.groupby('playerID').sum()

In [56]:
batting1

       playerID  yearID inducted
0     aardsda01      11      NaN
1     aaronha01      22        Y
2      aasedo01      13      NaN
3     abbated01      13      NaN
4     abbotgl01      11      NaN
5     abbotji01      10      NaN
6     abbotpa01      14      NaN
7     abernte02      17      NaN
8     abreubo01      18      NaN
9     adairje01      12      NaN
10    adamsba01      20      NaN
11    adamsbo03      13      NaN
12    adamsmi03      10      NaN
13    adamssp01      12      NaN
14    adamste01      10      NaN
15    adcocjo01      16      NaN
16    affelje01      13      NaN
17     ageeto01      11      NaN
18    agostju01      12      NaN
19    aguilri01      15      NaN
20    aguirha01      15      NaN
21    ainsmed01      14      NaN
22     akerja01      10      NaN
23    alberma01      11      NaN
24    aldremi01      10      NaN
25    aldresc01      10      NaN
26    aldrivi01      11      NaN
27    alexado01      18      NaN
28    alexama02      14      NaN
29    alexape01      19        Y
...         ...     ...      ...
3479  youngch04      11      NaN
3480  youngcu01      10      NaN
3481  youngcy01      21        Y
3482  youngdm01      12      NaN
3483  younger01      14      NaN
3484  younger02      10      NaN
3485  youngjo02      13      NaN
3486  youngke01      11      NaN
3487  youngma01      10      NaN
3488  youngmi02      13      NaN
3489  youngpe01      12      NaN
3490  yountro01      19        Y
3491  zachach02      10      NaN
3492  zachato01      18      NaN
3493   zahnge01      12      NaN
3494  zambrca01      11      NaN
3495  zarilal01      10      NaN
3496   zaungr01      15      NaN
3497  zeileto01      15      NaN
3498  zernigu01      10      NaN
3499  zimmech01      19      NaN
3500  zimmedo01      11      NaN
3501  zimmehe01      12      NaN
3502  zimmery01      12      NaN
3503   zinnji01      10      NaN
3504   ziskri01      12      NaN
3505   zitoba01      15      NaN
3506  zitzmbi01      10      NaN
3507  zobribe01      11      NaN
3508  zuberbi01      11      NaN

[3509 rows x 3 columns]

In [58]:
batting3 = batting2.merge(batting1,on='playerID')

In [59]:
batting3.columns

Index(['playerID', 'yearID_x', 'stint', 'G', 'AB', 'R', 'H', '2B', '3B', 'HR',
       'RBI', 'SB', 'CS', 'BB', 'SO', 'IBB', 'HBP', 'SH', 'SF', 'GIDP',
       'yearID_y', 'inducted'],
      dtype='object')

In [61]:
batting3.drop(['yearID_x','stint','yearID_y'],axis=1)

,playerID,G,AB,R,H,2B,3B,HR,RBI,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,inducted
0,aardsda01,331,4,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,1.0,0.0,0.0,NaN
1,aaronha01,3298,12364,2174,3771,624,98,755,2297.0,240.0,73.0,1402,1383.0,293.0,32.0,21.0,121.0,328.0,Y
2,aasedo01,448,5,0,0,0,0,0,0.0,0.0,0.0,0,3.0,0.0,0.0,0.0,0.0,0.0,NaN
3,abbated01,855,3044,355,772,99,43,11,324.0,142.0,0.0,289,33.0,0.0,33.0,93.0,0.0,0.0,NaN
4,abbotgl01,248,0,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
5,abbotji01,263,21,0,2,0,0,0,3.0,0.0,0.0,0,10.0,0.0,0.0,3.0,0.0,0.0,NaN
6,abbotpa01,162,20,2,5,1,0,0,2.0,0.0,0.0,0,6.0,0.0,0.0,5.0,0.0,0.0,NaN
7,abernte02,681,181,12,25,3,0,0,9.0,0.0,0.0,6,74.0,0.0,2.0,15.0,0.0,4.0,NaN
8,abreubo01,2425,8480,1453,2470,574,59,288,1363.0,400.0,128.0,1476,1840.0,115.0,33.0,7.0,85.0,165.0,NaN
9,adairje01,1165,4019,378,1022,163,19,57,366.0,29.0,29.0,208,499.0,31.0,17.0,41.0,30.0,149.0,NaN
10,adamsba01,482,1019,79,216,31,15,3,75.0,1.0,1.0,53,177.0,0.0,1.0,35.0,0.0,0.0,NaN
11,adamsbo03,1281,4019,591,1082,188,49,37,303.0,67.0,30.0,414,447.0,1.0,17.0,78.0,5.0,62.0,NaN
12,adamsmi03,410,2,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
13,adamssp01,1424,5557,844,1588,249,48,9,394.0,154.0,50.0,453,223.0,0.0,28.0,136.0,0.0,14.0,NaN
14,adamste01,574,78,2,4,1,0,0,2.0,0.0,0.0,7,41.0,0.0,0.0,12.0,1.0,1.0,NaN
15,adcocjo01,1959,6606,823,1832,295,35,336,1122.0,20.0,25.0,594,1059.0,55.0,17.0,52.0,35.0,223.0,NaN
16,affelje01,774,17,0,3,0,0,0,2.0,0.0,0.0,2,6.0,0.0,0.0,0.0,0.0,0.0,NaN
17,ageeto01,1129,3912,558,999,170,27,130,433.0,167.0,81.0,342,918.0,26.0,34.0,21.0,15.0,99.0,NaN
18,agostju01,543,20,0,2,0,0,0,0.0,0.0,0.0,1,7.0,0.0,0.0,1.0,0.0,0.0,NaN
19,aguilri01,737,139,12,28,3,0,3,11.0,0.0,0.0,6,37.0,0.0,0.0,16.0,0.0,1.0,NaN
20,aguirha01,447,388,14,33,7,1,0,21.0,1.0,0.0,14,236.0,0.0,0.0,24.0,1.0,4.0,NaN
21,ainsmed01,1078,3048,299,707,108,54,22,317.0,86.0,16.0,263,315.0,0.0,12.0,99.0,0.0,0.0,NaN
22,akerja01,496,92,3,7,2,0,0,4.0,0.0,0.0,1,51.0,0.0,1.0,10.0,0.0,1.0,NaN
23,alberma01,515,35,1,3,1,0,0,0.0,0.0,0.0,0,21.0,0.0,0.0,3.0,0.0,0.0,NaN
24,aldremi01,930,2147,277,565,104,9,41,271.0,19.0,18.0,314,381.0,29.0,5.0,14.0,18.0,43.0,NaN
25,aldresc01,229,1,0,0,0,0,0,0.0,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,NaN
26,aldrivi01,248,581,46,133,14,4,2,60.0,2.0,0.0,10,41.0,0.0,0.0,32.0,0.0,0.0,NaN
27,alexado01,562,265,19,44,8,0,0,17.0,0.0,0.0,9,77.0,0.0,1.0,23.0,2.0,7.0,NaN
28,alexama02,594,1271,166,293,50,12,15,115.0,37.0,10.0,86,276.0,7.0,7.0,19.0,4.0,17.0,NaN
29,alexape01,703,1810,154,378,60,13,11,163.0,3.0,5.0,77,276.0,0.0,2.0,88.0,0.0,0.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3479,youngch04,1409,4597,651,1090,286,23,185,577.0,140.0,46.0,509,1155.0,16.0,35.0,16.0,31.0,59.0,NaN
3480,youngcu01,253,1,0,0,0,0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3481,youngcy01,918,2960,325,623,87,35,18,290.0,29.0,0.0,81,204.0,0.0,10.0,50.0,0.0,0.0,Y
3482,youngdm01,1364,4762,648,1389,301,29,171,683.0,25.0,22.0,407,871.0,66.0,45.0,3.0,35.0,150.0,NaN
3483,younger01,1730,6119,996,1731,327,46,79,543.0,465.0,168.0,660,462.0,14.0,89.0,84.0,44.0,135.0,NaN
3484,younger02,288,796,108,179,33,4,27,90.0,10.0,11.0,90,213.0,1.0,11.0,5.0,6.0,25.0,NaN
3485,youngjo02,1408,3659,453,969,180,23,80,422.0,60.0,55.0,332,589.0,30.0,36.0,18.0,33.0,80.0,NaN
3486,youngke01,1205,3897,536,1007,235,17,144,606.0,83.0,49.0,336,882.0,18.0,62.0,9.0,47.0,105.0,NaN
3487,youngma01,333,3,0,0,0,0,0,0.0,0.0,0.0,0,2.0,0.0,0.0,0.0,0.0,0.0,NaN
3488,youngmi02,1970,7918,1137,2375,441,60,185,1030.0,90.0,30.0,575,1235.0,28.0,22.0,25.0,72.0,236.0,NaN
3489,youngpe01,730,2466,274,645,128,34,32,347.0,18.0,0.0,152,312.0,0.0,12.0,38.0,0.0,51.0,NaN
3490,yountro01,2856,11008,1632,3142,583,126,251,1406.0,271.0,105.0,966,1350.0,95.0,48.0,104.0,123.0,217.0,Y
3491,zachach02,110,83,5,15,2,0,0,3.0,0.0,0.0,3,31.0,0.0,0.0,1.0,1.0,3.0,NaN
3492,zachato01,546,1122,79,254,28,12,6,112.0,0.0,1.0,62,261.0,0.0,2.0,46.0,0.0,7.0,NaN
3493,zahnge01,304,43,3,6,0,0,0,1.0,0.0,0.0,0,9.0,0.0,0.0,10.0,0.0,1.0,NaN
3494,zambrca01,384,693,75,165,26,3,24,71.0,1.0,0.0,10,240.0,0.0,0.0,37.0,4.0,14.0,NaN
3495,zarilal01,1120,3535,507,975,186,43,61,456.0,33.0,33.0,415,382.0,0.0,30.0,54.0,0.0,61.0,NaN
3496,zaungr01,1232,3489,437,878,194,9,88,446.0,23.0,19.0,479,544.0,30.0,29.0,14.0,31.0,87.0,NaN
3497,zeileto01,2158,7573,986,2004,397,23,253,1110.0,53.0,51.0,945,1279.0,47.0,42.0,8.0,81.0,223.0,NaN
3498,zernigu01,1234,4131,572,1093,159,22,237,776.0,15.0,7.0,383,755.0,3.0,24.0,3.0,20.0,106.0,NaN
3499,zimmech01,1280,4546,617,1225,222,76,26,625.0,151.0,0.0,390,452.0,0.0,91.0,51.0,0.0,0.0,NaN
3500,zimmedo01,1095,3283,353,773,130,22,91,352.0,45.0,25.0,246,678.0,27.0,13.0,37.0,14.0,99.0,NaN
3501,zimmehe01,1456,5304,695,1566,275,105,58,796.0,175.0,33.0,242,404.0,0.0,38.0,156.0,0.0,0.0,NaN
3502,zimmery01,1552,5940,883,1664,371,20,251,937.0,42.0,15.0,583,1213.0,42.0,28.0,1.0,63.0,189.0,NaN
3503,zinnji01,76,120,17,34,6,2,2,15.0,2.0,1.0,7,18.0,0.0,1.0,3.0,0.0,0.0,NaN
3504,ziskri01,1453,5144,681,1477,245,26,207,792.0,8.0,15.0,533,910.0,52.0,12.0,7.0,41.0,138.0,NaN
3505,zitoba01,434,344,12,35,0,0,0,11.0,0.0,0.0,18,99.0,0.0,0.0,56.0,0.0,4.0,NaN
3506,zitzmbi01,406,1004,197,268,38,11,3,89.0,42.0,11.0,83,85.0,0.0,16.0,39.0,0.0,0.0,NaN
3507,zobribe01,1465,5275,793,1388,316,41,157,693.0,113.0,45.0,754,910.0,34.0,28.0,25.0,58.0,110.0,NaN
3508,zuberbi01,224,229,10,31,4,5,0,11.0,0.0,0.0,10,66.0,0.0,0.0,20.0,0.0,8.0,NaN

In [73]:
X = batting3.iloc[:,1:-1]
y = batting3.iloc[:,-1]

In [74]:
y.fillna('N',inplace=True)

In [75]:
X.shape

(3509, 20)

In [106]:
y = pd.DataFrame(y)

In [107]:
y.shape

(3509, 1)

In [110]:
from sklearn.model_selection import KFold
from xgboost import XGBClassifier
from imblearn.over_sampling import SMOTE

pre = batting3.copy()
pre['predict']=0
kf = KFold(n_splits=5)
num = 0
for train, test in kf.split(X):
    model = XGBClassifier(max_depth=32)
    sm = SMOTE(random_state=42)
    X_res, y_res = sm.fit_sample(X.iloc[train], y.iloc[train])
    X_res = pd.DataFrame(X_res)
    y_res = pd.DataFrame(y_res)
    X_res.columns = X.columns
    y_res.columns = y.columns
#     print(X_res)
    model.fit(X_res, y_res)
    
#     model.fit(X.iloc[train], y.iloc[train])
    predict=model.predict(X.iloc[test])
    pre.iloc[test,-1] = predict
print(confusion_matrix(pre.inducted,pre.predict))

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

[[3136  135]
 [ 102  136]]

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [111]:
from sklearn.metrics import confusion_matrix
confusion_matrix(pre.inducted,pre.predict)

array([[3136,  135],
       [ 102,  136]])

In [97]:
from sklearn.naive_bayes import GaussianNB

pre = batting3.copy()
pre['predict']=0
kf = KFold(n_splits=5)
num = 0
for train, test in kf.split(X):
    model = GaussianNB()
    
    sm = SMOTE(random_state=42)
    X_res, y_res = sm.fit_sample(X.iloc[train], y.iloc[train])
    X_res = pd.DataFrame(X_res)
    y_res = pd.DataFrame(y_res)
    X_res.columns = X.columns
    y_res.columns = y.columns
    model.fit(X_res, y_res)
    
#     model.fit(X.iloc[train], y.iloc[train])
    predict=model.predict(X.iloc[test])
    pre.iloc[test,-1] = predict

/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [98]:
from sklearn.metrics import confusion_matrix
confusion_matrix(pre.inducted,pre.predict)

array([[2730,  541],
       [  81,  157]])

In [104]:
model = GaussianNB()
model = XGBClassifier()
model.fit(X, y)

#     model.fit(X.iloc[train], y.iloc[train])
predict=model.predict(X)
pre.iloc[:,-1] = predict
confusion_matrix(pre.inducted,pre.predict)

/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:95: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:128: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array([[3258,   13],
       [  92,  146]])