In [1]:
import pandas as pd
import numpy as np

from sklearn import mixture
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import itertools

In [2]:
players = pd.read_csv('merged_players42-12.csv',index_col=0,parse_dates=['debut','finalGame'])
players.head()

,playerID,FPCT,POS,G,SH,OBP,AB/G,HR/G,SB/G,RBI/G,IBB/G,SF/G,debut,finalGame,weight,servingDays,debutAge,inducted
0,aaronha01,0.979124,OF,3298,21.0,0.373949,3.748939,0.228927,0.072771,0.696483,0.088842,0.036689,1954-04-13,1976-10-03,180.0,8209.0,20.293151,Y
1,aaronto01,0.982705,1B,437,9.0,0.291506,2.160183,0.029748,0.020595,0.215103,0.006865,0.013730,1962-04-10,1971-09-26,190.0,3456.0,23.287671,N
2,aasedo01,0.955399,P,448,0.0,0.000000,0.011161,0.000000,0.000000,0.000000,0.000000,0.000000,1977-07-26,1990-10-03,190.0,4817.0,23.580822,N
3,abadan01,0.986486,1B,15,0.0,0.240000,1.400000,0.000000,0.000000,0.000000,0.000000,0.000000,2001-09-10,2006-04-13,184.0,1676.0,29.712329,N
4,abbotje01,0.975208,OF,233,5.0,0.307453,2.557940,0.077253,0.025751,0.356223,0.008584,0.030043,1997-06-10,2001-09-29,190.0,1572.0,25.457534,N

In [3]:
players = players[players['finalGame'].apply(lambda x: x.year<=1960)]

In [6]:
players.columns

Index(['playerID', 'FPCT', 'POS', 'G', 'SH', 'OBP', 'AB/G', 'HR/G', 'SB/G',
       'RBI/G', 'IBB/G', 'SF/G', 'debut', 'finalGame', 'weight', 'servingDays',
       'debutAge', 'inducted'],
      dtype='object')

In [12]:
feat_col = ['FPCT', 'POS', 'G', 'SH', 'OBP', 'AB/G', 'HR/G', 'SB/G',
       'RBI/G', 'IBB/G', 'SF/G','weight', 'servingDays',
       'debutAge']
def PowerSetsRecursive2(items):
    # the power set of the empty set has one element, the empty set
    result = [[]]
    for x in items:
        result.extend([subset + [x] for subset in result])
    return result
features = PowerSetsRecursive2(feat_col)

In [13]:
# features = [['G'],
#             ['OBP'],
#             ['FPCT'],
#             ['FPCT','POS'],
#             ['OBP','FPCT','POS'],
#             ['G','OBP'],
#             ['G','OBP','FPCT'],
#             ['G','OBP','FPCT','POS'],
#             ['G','FPCT'],
#             ['G','FPCT','POS'],
#             ['FPCT', 'POS', 'G', 'SH', 'OBP', 'AB/G', 'HR/G', 'SB/G',
#        'RBI/G', 'IBB/G', 'SF/G', 'weight', 'debutAge']]

num_list = []
for feature in features:
    if (len(feature)==0 or len(feature)>=3):
        continue
    X = players[feature]
    if ('POS' in feature):
        X = pd.get_dummies(X, columns = ['POS'] )
    y = players[['inducted']]
    
    lowest_bic = np.infty
    bic = []
    n_components_range = range(1, 10)
    for n_components in n_components_range:
        # Fit a Gaussian mixture with EM
        gmm = mixture.GaussianMixture(n_components=n_components,
                                      covariance_type='full', random_state = 2018)
        gmm.fit(X)
        bic.append(gmm.bic(X))
        if bic[-1] < lowest_bic:
            lowest_bic = bic[-1]
            best_gmm = gmm
            
    loglike=best_gmm.score_samples(X)
    players_pre = players[['playerID','servingDays','inducted']]
    players_pre.loc[:,'loglike']=loglike

    player10 = players_pre[players_pre['servingDays']>2000].sort_values(['loglike'],ascending=True).iloc[:10,:]
    num = (player10[player10['inducted']=='Y'].shape[0])
    num_list.append([num,feature])
    print(num)
    if num>=3:
        print(feature)
        print(players_pre[players_pre['servingDays']>2000].sort_values('loglike'))

num_list

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

0
1
1
3
['G']
       playerID  servingDays inducted    loglike
2087  ennisde01       4795.0        N -12.374782
5382  pafkoan01       5849.0        N -12.043211
1671   darkal01       5194.0        N -11.894830
2400  furilca01       5135.0        N -11.763116
3679   kellge01       5100.0        Y -11.698802
7163  thomsbo01       5060.0        N -11.607090
4181  lockmwh01       5468.0        N -11.021345
1884   dobyla01       4404.0        Y -10.471012
3744  kinerra01       3449.0        Y -10.268910
4253  lowrepe01       4886.0        N -10.073513
6071  robinja02       3456.0        Y -10.028491
710   boonera01       4360.0        N -10.008236
4617  mcdougi01       3453.0        N  -9.932193
1165  carrach01       3445.0        N  -9.911828
3247  holmeto01       3820.0        N  -9.902910
6067  robined01       5485.0        N  -9.894204
2995  hattogr01       5282.0        N  -9.889083
6506  seminan01       5121.0        N  -9.875798
267   avilabo01       3804.0        N  -9.869359
4776  michaca01       4026.0        N  -9.850855
31    adamsbo03       4754.0        N  -9.840624
5566  peskyjo01       4546.0        N  -9.825383
6841  stanked01       3748.0        N  -9.811163
2780  grothjo01       5075.0        N  -9.797962
4438  marshwi01       4810.0        N  -9.795671
5012  muelldo01       3925.0        N  -9.794539
7910  zernigu01       3811.0        N  -9.782631
7844  wyrosjo01       4399.0        N  -9.769862
1102  camparo01       3449.0        Y  -9.764444
7147  thompha02       3363.0        N  -9.753752
...         ...          ...      ...        ...
3286   houkra01       2562.0        N  -6.036838
1028  burtsmo01       2184.0        N  -6.006608
7072  tayloha03       2051.0        N  -6.006608
5410  papaial01       2701.0        N  -5.976622
7553   weikdi01       2126.0        N  -5.676982
5479  pearcji01       2063.0        N  -5.662645
1577  crimija01       2134.0        N  -5.609065
1462  connebi01       2855.0        N  -5.607384
600   biscafr01       2342.0        N  -5.588055
3826  konikal01       2234.0        N  -5.561940
865   brododi01       2575.0        N  -5.548623
7649  wieslbo01       2472.0        N  -5.530243
48    adkinde01       2570.0        N  -5.504911
4442  martiba01       3201.0        N  -5.496249
5107  negraro01       2063.0        N  -5.452428
1747   dealco01       2555.0        N  -5.401147
5985  riebeha01       2579.0        N  -5.399429
4377  mallobo01       2194.0        N  -5.386515
6314  sanchra01       2952.0        N  -5.380887
6156  romonjo01       2196.0        N  -5.380887
2569  gillebo01       2191.0        N  -5.380137
768   bowmaro01       2068.0        N  -5.376378
527   bensove01       3591.0        N  -5.370504
6190   rossbo01       2153.0        N  -5.013212
7849  yankoge01       2507.0        N  -4.681149
4780  mickeed01       2428.0        N  -4.681149
3437  jacobto01       2396.0        N  -4.559746
5699  posselo01       2110.0        N  -4.374000
5626  piconma01       2462.0        N  -4.033825
339   bambege01       2925.0        N  -3.912928

[323 rows x 4 columns]
0
2
2
0
1
3
['G', 'SH']
       playerID  servingDays inducted    loglike
7393  verbaem01       2357.0        N -18.532527
3721   kerrbu01       2944.0        N -17.271065
4181  lockmwh01       5468.0        N -17.182507
3679   kellge01       5100.0        Y -16.896388
4147  liponjo01       4270.0        N -16.828617
2087  ennisde01       4795.0        N -16.662564
3744  kinerra01       3449.0        Y -16.563332
1884   dobyla01       4404.0        Y -16.550900
267   avilabo01       3804.0        N -16.212382
4790  miksied01       5214.0        N -15.648112
7163  thomsbo01       5060.0        N -15.526020
5840  raschvi01       3277.0        N -15.486377
7910  zernigu01       3811.0        N -15.438519
5382  pafkoan01       5849.0        N -15.293880
1671   darkal01       5194.0        N -15.246029
4253  lowrepe01       4886.0        N -15.229833
4772  meyerru01       4671.0        N -15.195918
6071  robinja02       3456.0        Y -15.136181
2400  furilca01       5135.0        N -15.041766
710   boonera01       4360.0        N -14.982905
4344  maglisa01       4770.0        N -14.702237
7901  zarilal01       3741.0        N -14.693343
6252   ryanco01       4388.0        N -14.645869
6841  stanked01       3748.0        N -14.598291
6943  stricge01       3730.0        N -14.597984
3409  jablora01       2713.0        N -14.578135
4617  mcdougi01       3453.0        N -14.510524
7867  youngbo01       3681.0        N -14.411146
6067  robined01       5485.0        N -14.399595
6506  seminan01       5121.0        N -14.387373
...         ...          ...      ...        ...
3683  kellybo01       2588.0        N  -8.130260
774   boyercl01       2345.0        N  -8.084715
7553   weikdi01       2126.0        N  -8.081859
1088  calvepa01       3146.0        N  -8.079020
4912  monzara01       2124.0        N  -8.042310
5646  pisonji01       2564.0        N  -8.014739
5665   poatra01       2716.0        N  -7.962640
768   bowmaro01       2068.0        N  -7.012913
2569  gillebo01       2191.0        N  -6.961816
527   bensove01       3591.0        N  -6.808460
7477   wallmu01       3308.0        N  -6.618789
3286   houkra01       2562.0        N  -6.618789
5626  piconma01       2462.0        N  -6.590722
6156  romonjo01       2196.0        N  -6.549120
6314  sanchra01       2952.0        N  -6.549120
5699  posselo01       2110.0        N  -6.477061
1028  burtsmo01       2184.0        N  -6.418893
48    adkinde01       2570.0        N  -6.260512
3826  konikal01       2234.0        N  -6.226652
5479  pearcji01       2063.0        N  -6.214289
600   biscafr01       2342.0        N  -3.507899
5985  riebeha01       2579.0        N  -1.650851
4377  mallobo01       2194.0        N  -0.272308
1747   dealco01       2555.0        N  -0.102803
3437  jacobto01       2396.0        N   0.752315
1462  connebi01       2855.0        N   0.991191
339   bambege01       2925.0        N   1.024715
6190   rossbo01       2153.0        N   1.067066
7849  yankoge01       2507.0        N   1.077535
4780  mickeed01       2428.0        N   1.077535

[323 rows x 4 columns]
2
0
1
1
1
1
0
2
0
1
2
3
['HR/G']
       playerID  servingDays inducted   loglike
3744  kinerra01       3449.0        Y -3.747168
1102  camparo01       3449.0        Y -2.189688
7910  zernigu01       3811.0        N -2.048739
6184  rosenal01       3308.0        N -1.903256
1884   dobyla01       4404.0        Y -1.575313
6489  seerepa01       2159.0        N -1.312365
2087  ennisde01       4795.0        N -1.261233
7163  thomsbo01       5060.0        N -1.180798
7902  zauchno01       2778.0        N -1.069008
2464  gardeda01       2167.0        N -0.994965
7147  thompha02       3363.0        N -0.882409
4219  lopatst01       4284.0        N -0.814373
7590  westlwa01       3315.0        N -0.713928
6067  robined01       5485.0        N -0.663563
3401  irvinmo01       2641.0        Y -0.629728
6506  seminan01       5121.0        N -0.529048
3817  kokosdi01       2132.0        N -0.490687
5382  pafkoan01       5849.0        N -0.303932
710   boonera01       4360.0        N -0.233387
3423  jacksra01       3433.0        N -0.209836
476   belarwa01       2357.0        N -0.196088
2400  furilca01       5135.0        N -0.194657
6772  souchst01       3247.0        N -0.189071
7592  westrwe01       3665.0        N -0.178059
4438  marshwi01       4810.0        N -0.176966
3409  jablora01       2713.0        N -0.163494
7423  vollmcl01       4476.0        N -0.147031
6059  robinaa01       3067.0        N -0.140809
5206  northro01       5646.0        N -0.137585
6071  robinja02       3456.0        Y -0.133113
...         ...          ...      ...       ...
5410  papaial01       2701.0        N  5.455958
4615  mcdonji04       2830.0        N  5.455958
5479  pearcji01       2063.0        N  5.455958
5626  piconma01       2462.0        N  5.455958
5667  podbibu01       3701.0        N  5.455958
5672  poholto01       2701.0        N  5.455958
5699  posselo01       2110.0        N  5.455958
5723  preskjo01       2561.0        N  5.455958
5764  queenme01       3666.0        N  5.455958
5577  peterke01       3290.0        N  5.455958
4577  mccalwi01       3297.0        N  5.455958
4468  martimo01       3649.0        N  5.455958
4377  mallobo01       2194.0        N  5.455958
3286   houkra01       2562.0        N  5.455958
3437  jacobto01       2396.0        N  5.455958
3519  johnsdo03       4175.0        N  5.455958
3600  jonessh01       2484.0        N  5.455958
3630  judsoho01       2347.0        N  5.455958
3683  kellybo01       2588.0        N  5.455958
3701  kennebi02       3443.0        N  5.455958
3746   kingcl01       3385.0        N  5.455958
3826  konikal01       2234.0        N  5.455958
3828  konstji01       4476.0        N  5.455958
3864  kretllo01       3650.0        N  5.455958
3967  lapalpa01       2284.0        N  5.455958
4003  lawrebr01       2138.0        N  5.455958
4159  littldi01       2884.0        N  5.455958
7919  zoldasa01       3027.0        N  5.455958
6190   rossbo01       2153.0        N  5.455958
7926  zuverge01       2977.0        N  5.455958

[323 rows x 4 columns]

2
2
4
['G', 'HR/G']
       playerID  servingDays inducted    loglike
6184  rosenal01       3308.0        N -12.724145
3744  kinerra01       3449.0        Y -11.088482
1884   dobyla01       4404.0        Y -10.689764
1102  camparo01       3449.0        Y -10.097370
4181  lockmwh01       5468.0        N -10.011890
7910  zernigu01       3811.0        N  -9.638537
6489  seerepa01       2159.0        N  -9.498418
7163  thomsbo01       5060.0        N  -9.312909
2087  ennisde01       4795.0        N  -9.250657
3679   kellge01       5100.0        Y  -9.225548
7147  thompha02       3363.0        N  -8.993100
4253  lowrepe01       4886.0        N  -8.985652
4219  lopatst01       4284.0        N  -8.765588
7590  westlwa01       3315.0        N  -8.760436
1671   darkal01       5194.0        N  -8.614830
3401  irvinmo01       2641.0        Y  -8.565689
2252  fitzged01       4166.0        N  -8.331786
6976  sullijo06       2674.0        N  -8.318705
5566  peskyjo01       4546.0        N  -8.277890
2464  gardeda01       2167.0        N  -8.270111
6071  robinja02       3456.0        Y  -8.266310
710   boonera01       4360.0        N  -8.196667
5382  pafkoan01       5849.0        N  -8.183855
6067  robined01       5485.0        N  -8.093873
6506  seminan01       5121.0        N  -8.063499
7902  zauchno01       2778.0        N  -8.043421
1165  carrach01       3445.0        N  -8.038025
6841  stanked01       3748.0        N  -8.023542
4438  marshwi01       4810.0        N  -7.997559
2990  hatfifr01       2812.0        N  -7.991188
...         ...          ...      ...        ...
4912  monzara01       2124.0        N  -1.807375
1088  calvepa01       3146.0        N  -1.807375
7828  wrighed01       2594.0        N  -1.220287
3232  holcoke01       2935.0        N  -1.098005
5392  paineph01       2624.0        N  -0.863249
3286   houkra01       2562.0        N  -0.642007
7477   wallmu01       3308.0        N  -0.642007
1028  burtsmo01       2184.0        N  -0.588853
7072  tayloha03       2051.0        N  -0.588853
5410  papaial01       2701.0        N  -0.536569
7553   weikdi01       2126.0        N  -0.019732
1577  crimija01       2134.0        N   0.102489
600   biscafr01       2342.0        N   0.141433
7649  wieslbo01       2472.0        N   0.252863
5107  negraro01       2063.0        N   0.420530
3437  jacobto01       2396.0        N   0.562115
5985  riebeha01       2579.0        N   0.565566
2569  gillebo01       2191.0        N   0.641696
339   bambege01       2925.0        N   0.766611
5626  piconma01       2462.0        N   0.802088
768   bowmaro01       2068.0        N   0.804682
6314  sanchra01       2952.0        N   0.820958
4377  mallobo01       2194.0        N   0.836323
5699  posselo01       2110.0        N   0.848510
7849  yankoge01       2507.0        N   0.874931
4780  mickeed01       2428.0        N   0.874931
6190   rossbo01       2153.0        N   0.897731
1462  connebi01       2855.0        N   0.938889
3826  konikal01       2234.0        N   0.953287
5479  pearcji01       2063.0        N   0.957413

[323 rows x 4 columns]
4
['SH', 'HR/G']
       playerID  servingDays inducted    loglike
3679   kellge01       5100.0        Y -10.210681
5382  pafkoan01       5849.0        N  -8.938676
3744  kinerra01       3449.0        Y  -8.757336
267   avilabo01       3804.0        N  -8.598849
1102  camparo01       3449.0        Y  -8.479941
6071  robinja02       3456.0        Y  -8.164440
2400  furilca01       5135.0        N  -8.063478
710   boonera01       4360.0        N  -7.387506
7163  thomsbo01       5060.0        N  -7.073589
4617  mcdougi01       3453.0        N  -6.884894
3423  jacksra01       3433.0        N  -6.685434
6841  stanked01       3748.0        N  -6.491926
7147  thompha02       3363.0        N  -6.425458
7393  verbaem01       2357.0        N  -6.200143
1671   darkal01       5194.0        N  -6.135723
4253  lowrepe01       4886.0        N  -6.024945
7910  zernigu01       3811.0        N  -5.875115
6067  robined01       5485.0        N  -5.762963
5566  peskyjo01       4546.0        N  -5.720323
3721   kerrbu01       2944.0        N  -5.547364
6184  rosenal01       3308.0        N  -5.487148
4772  meyerru01       4671.0        N  -5.450632
5840  raschvi01       3277.0        N  -5.448525
5936  reynoal01       4391.0        N  -5.400886
4181  lockmwh01       5468.0        N  -5.389454
4147  liponjo01       4270.0        N  -5.376241
3247  holmeto01       3820.0        N  -5.355801
1884   dobyla01       4404.0        Y  -5.296611
4344  maglisa01       4770.0        N  -5.189850
3456  jansela01       3449.0        N  -5.177030
...         ...          ...      ...        ...
5392  paineph01       2624.0        N   2.423993
3683  kellybo01       2588.0        N   2.513353
6368  savagbo01       2506.0        N   2.513353
1088  calvepa01       3146.0        N   2.513353
7649  wieslbo01       2472.0        N   2.513353
6635  singlel01       5094.0        N   2.513353
1577  crimija01       2134.0        N   2.513353
7072  tayloha03       2051.0        N   2.513353
774   boyercl01       2345.0        N   2.513353
768   bowmaro01       2068.0        N   2.672492
7255  trinkke01       2352.0        N   2.672492
5410  papaial01       2701.0        N   2.672492
4577  mccalwi01       3297.0        N   2.713810
2667  gormato02       2533.0        N   2.713810
7553   weikdi01       2126.0        N   2.766811
6791  spencge01       3693.0        N   2.766811
5107  negraro01       2063.0        N   2.766811
4912  monzara01       2124.0        N   2.766811
3437  jacobto01       2396.0        N  10.766424
339   bambege01       2925.0        N  10.766424
6190   rossbo01       2153.0        N  10.766424
1462  connebi01       2855.0        N  10.766424
1028  burtsmo01       2184.0        N  10.766424
600   biscafr01       2342.0        N  10.766424
4377  mallobo01       2194.0        N  10.766424
5985  riebeha01       2579.0        N  10.766424
3286   houkra01       2562.0        N  10.766424
7477   wallmu01       3308.0        N  10.766424
7849  yankoge01       2507.0        N  10.766424
4780  mickeed01       2428.0        N  10.766424

[323 rows x 4 columns]
4
['OBP', 'HR/G']
       playerID  servingDays inducted   loglike
3744  kinerra01       3449.0        Y -3.172887
7432   wadebe01       2599.0        N -1.385899
2157   fainfe01       3084.0        N -1.064179
6841  stanked01       3748.0        N -0.755370
1102  camparo01       3449.0        Y -0.499204
7910  zernigu01       3811.0        N -0.367543
6184  rosenal01       3308.0        N -0.019684
1884   dobyla01       4404.0        Y  0.492640
5566  peskyjo01       4546.0        N  0.505061
6071  robinja02       3456.0        Y  0.598429
6489  seerepa01       2159.0        N  0.899957
3057  hemusso01       3700.0        N  0.923419
2087  ennisde01       4795.0        N  1.032007
5146  niarhgu01       3379.0        N  1.055157
3926  lakemal01       4417.0        N  1.079402
7163  thomsbo01       5060.0        N  1.080509
3401  irvinmo01       2641.0        Y  1.102160
7902  zauchno01       2778.0        N  1.131331
7147  thompha02       3363.0        N  1.135248
17    abramca01       2577.0        N  1.139422
2464  gardeda01       2167.0        N  1.231011
4219  lopatst01       4284.0        N  1.317164
6059  robinaa01       3067.0        N  1.351220
3817  kokosdi01       2132.0        N  1.370853
6067  robined01       5485.0        N  1.380858
7590  westlwa01       3315.0        N  1.387365
6506  seminan01       5121.0        N  1.476288
710   boonera01       4360.0        N  1.522862
5382  pafkoan01       5849.0        N  1.576601
2400  furilca01       5135.0        N  1.628550
...         ...          ...      ...       ...
3232  holcoke01       2935.0        N  6.779936
1088  calvepa01       3146.0        N  6.782624
7828  wrighed01       2594.0        N  6.786000
851   brisslo01       2165.0        N  6.790332
2093  erauted01       2351.0        N  6.790870
6420  schmiwi01       2716.0        N  6.791379
1028  burtsmo01       2184.0        N  6.791916
7919  zoldasa01       3027.0        N  6.792780
2531  getteal01       3797.0        N  6.794076
1469  consusa01       2544.0        N  6.795227
774   boyercl01       2345.0        N  6.795889
5723  preskjo01       2561.0        N  6.802519
7553   weikdi01       2126.0        N  6.803423
2910  hansean01       3362.0        N  6.803522
5410  papaial01       2701.0        N  6.809326
4577  mccalwi01       3297.0        N  6.809946
3172  hillefr01       2586.0        N  6.812880
728   borowha01       3436.0        N  6.813739
1894  donnebl01       2553.0        N  6.814922
5392  paineph01       2624.0        N  6.815529
6314  sanchra01       2952.0        N  6.815529
2271  floreje01       3076.0        N  6.818019
7255  trinkke01       2352.0        N  6.818222
2713   grayte01       3403.0        N  6.819266
2165  fannicl01       2582.0        N  6.821304
5985  riebeha01       2579.0        N  6.823770
6368  savagbo01       2506.0        N  6.823939
4377  mallobo01       2194.0        N  6.824895
3437  jacobto01       2396.0        N  9.668355
339   bambege01       2925.0        N  9.668355

[323 rows x 4 columns]

2
1
1
1
2
2
1
1
3
['HR/G', 'SB/G']
       playerID  servingDays inducted    loglike
6071  robinja02       3456.0        Y  -0.819450
3744  kinerra01       3449.0        Y  -0.330559
7268  tucketh01       3302.0        N   0.032264
2288  fondyde01       2714.0        N   0.157814
6914  stirnsn01       3299.0        N   0.228449
6184  rosenal01       3308.0        N   0.586308
1392   coangi01       3651.0        N   0.610040
7910  zernigu01       3811.0        N   0.760204
1102  camparo01       3449.0        Y   0.863511
5290   olmolu01       2875.0        N   0.984539
455   beardte01       3537.0        N   1.170726
6241  russeji01       3306.0        N   1.184490
3099  hermage01       3692.0        N   1.220813
267   avilabo01       3804.0        N   1.266075
1884   dobyla01       4404.0        Y   1.278330
638   blattbu01       2724.0        N   1.284873
3401  irvinmo01       2641.0        Y   1.375297
7147  thompha02       3363.0        N   1.378124
3423  jacksra01       3433.0        N   1.447644
2087  ennisde01       4795.0        N   1.616564
3817  kokosdi01       2132.0        N   1.700492
6252   ryanco01       4388.0        N   1.897460
7163  thomsbo01       5060.0        N   1.900029
6138  rojekst01       3521.0        N   1.934649
6489  seerepa01       2159.0        N   1.992422
4758  metkoca01       4090.0        N   2.149642
5994  rignebi01       2706.0        N   2.179011
6772  souchst01       3247.0        N   2.195335
150   amorosa01       2963.0        N   2.307907
4219  lopatst01       4284.0        N   2.360617
...         ...          ...      ...        ...
6190   rossbo01       2153.0        N  11.294418
5764  queenme01       3666.0        N  11.294418
5723  preskjo01       2561.0        N  11.294418
5699  posselo01       2110.0        N  11.294418
5667  podbibu01       3701.0        N  11.294418
5626  piconma01       2462.0        N  11.294418
5577  peterke01       3290.0        N  11.294418
5479  pearcji01       2063.0        N  11.294418
5410  papaial01       2701.0        N  11.294418
5392  paineph01       2624.0        N  11.294418
5359  overmst01       3388.0        N  11.294418
5107  negraro01       2063.0        N  11.294418
4912  monzara01       2124.0        N  11.294418
3437  jacobto01       2396.0        N  11.294418
4780  mickeed01       2428.0        N  11.294418
4577  mccalwi01       3297.0        N  11.294418
4468  martimo01       3649.0        N  11.294418
4377  mallobo01       2194.0        N  11.294418
4159  littldi01       2884.0        N  11.294418
3967  lapalpa01       2284.0        N  11.294418
3864  kretllo01       3650.0        N  11.294418
3828  konstji01       4476.0        N  11.294418
3826  konikal01       2234.0        N  11.294418
3746   kingcl01       3385.0        N  11.294418
3701  kennebi02       3443.0        N  11.294418
3683  kellybo01       2588.0        N  11.294418
3630  judsoho01       2347.0        N  11.294418
3600  jonessh01       2484.0        N  11.294418
4615  mcdonji04       2830.0        N  11.294418
7926  zuverge01       2977.0        N  11.294418

[323 rows x 4 columns]
4
['RBI/G']
       playerID  servingDays inducted   loglike
1102  camparo01       3449.0        Y -3.619266
3744  kinerra01       3449.0        Y -3.341123
6184  rosenal01       3308.0        N -3.291758
2087  ennisde01       4795.0        N -3.083133
1884   dobyla01       4404.0        Y -2.461275
7910  zernigu01       3811.0        N -2.412374
5290   olmolu01       2875.0        N -2.000371
2400  furilca01       5135.0        N -1.976922
3401  irvinmo01       2641.0        Y -1.931640
7163  thomsbo01       5060.0        N -1.909527
7590  westlwa01       3315.0        N -1.821706
6067  robined01       5485.0        N -1.758452
3409  jablora01       2713.0        N -1.727135
710   boonera01       4360.0        N -1.708179
6071  robinja02       3456.0        Y -1.689719
5382  pafkoan01       5849.0        N -1.677181
6322  sandera01       2717.0        N -1.663168
4715   melesa01       3442.0        N -1.656937
7147  thompha02       3363.0        N -1.646794
3592  jonesni01       4130.0        N -1.617146
3507  johnsbi03       3671.0        N -1.609622
2464  gardeda01       2167.0        N -1.601105
2157   fainfe01       3084.0        N -1.566151
7423  vollmcl01       4476.0        N -1.564431
4438  marshwi01       4810.0        N -1.500190
3679   kellge01       5100.0        Y -1.499647
5206  northro01       5646.0        N -1.394128
3817  kokosdi01       2132.0        N -1.350639
4219  lopatst01       4284.0        N -1.299051
6489  seerepa01       2159.0        N -1.296708
...         ...          ...      ...       ...
774   boyercl01       2345.0        N  1.046142
1119  candimi01       3028.0        N  1.052003
2713   grayte01       3403.0        N  1.052292
812   brazlal01       4079.0        N  1.057162
865   brododi01       2575.0        N  1.059181
3902  kuzavbo01       4026.0        N  1.059588
7651  wightbi01       4540.0        N  1.061719
3743  kindeel01       4026.0        N  1.070169
5694  portoar01       2250.0        N  1.084583
5551  perkoha01       2927.0        N  1.086423
3600  jonessh01       2484.0        N  1.086713
5396  palicer01       4174.0        N  1.093218
3172  hillefr01       2586.0        N  1.093997
3521  johnser02       3424.0        N  1.094757
5667  podbibu01       3701.0        N  1.098747
1259  chakabo01       2341.0        N  1.101662
5699  posselo01       2110.0        N  1.104614
6333  sanfofr01       3054.0        N  1.110390
3864  kretllo01       3650.0        N  1.111616
4799  millebo02       3250.0        N  1.113418
339   bambege01       2925.0        N  4.662194
6314  sanchra01       2952.0        N  4.662194
3826  konikal01       2234.0        N  4.662194
1577  crimija01       2134.0        N  4.662194
6368  savagbo01       2506.0        N  4.662194
5479  pearcji01       2063.0        N  4.662194
7477   wallmu01       3308.0        N  4.662194
5107  negraro01       2063.0        N  4.662194
768   bowmaro01       2068.0        N  4.662194
3437  jacobto01       2396.0        N  4.662194

[323 rows x 4 columns]
0
3
['POS', 'RBI/G']
       playerID  servingDays inducted    loglike
6184  rosenal01       3308.0        N  35.842600
1102  camparo01       3449.0        Y  36.626032
1060  byrneto01       5261.0        N  37.598068
2964  harshja01       4398.0        N  37.987650
3744  kinerra01       3449.0        Y  38.021231
6071  robinja02       3456.0        Y  38.187941
3409  jablora01       2713.0        N  38.221959
2087  ennisde01       4795.0        N  38.225438
7147  thompha02       3363.0        N  38.542138
5137  newcodo01       4152.0        N  38.588403
6067  robined01       5485.0        N  38.659281
3507  johnsbi03       3671.0        N  38.676211
1884   dobyla01       4404.0        Y  38.766031
710   boonera01       4360.0        N  38.786314
7910  zernigu01       3811.0        N  38.813362
6282   sainjo01       4837.0        N  38.838682
3679   kellge01       5100.0        Y  38.901939
6322  sandera01       2717.0        N  38.920776
3592  jonesni01       4130.0        N  39.050555
2157   fainfe01       3084.0        N  39.149245
4617  mcdougi01       3453.0        N  39.149740
5290   olmolu01       2875.0        N  39.272283
2400  furilca01       5135.0        N  39.303687
3401  irvinmo01       2641.0        Y  39.367181
3423  jacksra01       3433.0        N  39.373153
886   brownbo03       2838.0        N  39.390182
7163  thomsbo01       5060.0        N  39.399785
7902  zauchno01       2778.0        N  39.409512
4776  michaca01       4026.0        N  39.437487
1671   darkal01       5194.0        N  39.442347
...         ...          ...      ...        ...
3153  hetkijo01       3295.0        N  42.869999
5699  posselo01       2110.0        N  42.874014
3232  holcoke01       2935.0        N  42.878704
6333  sanfofr01       3054.0        N  42.880931
3864  kretllo01       3650.0        N  42.882970
3828  konstji01       4476.0        N  42.885494
7539  webbele01       2171.0        N  42.885911
3731  kielyle01       3281.0        N  42.888491
3630  judsoho01       2347.0        N  42.889402
7666  wilkste01       3389.0        N  42.889715
4799  millebo02       3250.0        N  42.890557
3701  kennebi02       3443.0        N  42.892676
3519  johnsdo03       4175.0        N  42.893835
9      aberal01       2553.0        N  42.894689
3779  kliemed01       2443.0        N  42.895426
6420  schmiwi01       2716.0        N  42.895531
5723  preskjo01       2561.0        N  42.900211
7553   weikdi01       2126.0        N  42.900211
1259  chakabo01       2341.0        N  42.900951
5667  podbibu01       3701.0        N  42.901874
3521  johnser02       3424.0        N  42.902883
4159  littldi01       2884.0        N  42.903554
3600  jonessh01       2484.0        N  42.904327
4377  mallobo01       2194.0        N  42.904445
1894  donnebl01       2553.0        N  42.904840
7919  zoldasa01       3027.0        N  42.905957
3902  kuzavbo01       4026.0        N  42.906290
6396  schanch01       2264.0        N  42.906353
382   barnere02       2574.0        N  42.906353
1119  candimi01       3028.0        N  42.906391

[323 rows x 4 columns]

4
['G', 'RBI/G']
       playerID  servingDays inducted    loglike
1102  camparo01       3449.0        Y -11.711452
1884   dobyla01       4404.0        Y -11.405998
6184  rosenal01       3308.0        N -11.342292
4181  lockmwh01       5468.0        N -10.749127
3744  kinerra01       3449.0        Y -10.694858
4253  lowrepe01       4886.0        N -10.637575
3401  irvinmo01       2641.0        Y -10.597404
7910  zernigu01       3811.0        N -10.571151
1671   darkal01       5194.0        N -10.393355
2087  ennisde01       4795.0        N  -9.935762
31    adamsbo03       4754.0        N  -9.864254
4790  miksied01       5214.0        N  -9.814225
3409  jablora01       2713.0        N  -9.741644
7163  thomsbo01       5060.0        N  -9.579161
5290   olmolu01       2875.0        N  -9.567809
4856  miranwi01       3046.0        N  -9.560929
3828  konstji01       4476.0        N  -9.437340
2464  gardeda01       2167.0        N  -9.349836
7590  westlwa01       3315.0        N  -9.346593
7423  vollmcl01       4476.0        N  -9.304994
6322  sandera01       2717.0        N  -9.298990
3467  jeffcha01       4125.0        N  -9.237229
3743  kindeel01       4026.0        N  -9.223782
2400  furilca01       5135.0        N  -9.150171
4438  marshwi01       4810.0        N  -9.127597
6067  robined01       5485.0        N  -9.126718
1850  dierich01       3358.0        N  -9.111496
5382  pafkoan01       5849.0        N  -9.089331
6252   ryanco01       4388.0        N  -9.016006
436   baumhfr01       3694.0        N  -9.013285
...         ...          ...      ...        ...
162   anderfe01       2695.0        N  -5.251147
527   bensove01       3591.0        N  -5.243898
7849  yankoge01       2507.0        N  -5.236339
7072  tayloha03       2051.0        N  -5.197008
5646  pisonji01       2564.0        N  -5.189541
6531  shantbi01       2269.0        N  -5.146786
6127  rogovsa01       2974.0        N  -5.136801
1577  crimija01       2134.0        N  -4.998651
5985  riebeha01       2579.0        N  -4.833888
5107  negraro01       2063.0        N  -4.782049
7649  wieslbo01       2472.0        N  -4.659656
768   bowmaro01       2068.0        N  -4.657178
7553   weikdi01       2126.0        N  -4.643444
6314  sanchra01       2952.0        N  -4.631319
5699  posselo01       2110.0        N  -4.593231
600   biscafr01       2342.0        N  -4.592005
4780  mickeed01       2428.0        N  -4.441601
5626  piconma01       2462.0        N  -4.383548
2569  gillebo01       2191.0        N  -4.378365
6156  romonjo01       2196.0        N  -4.323196
865   brododi01       2575.0        N  -4.274078
6190   rossbo01       2153.0        N  -4.144946
4377  mallobo01       2194.0        N  -4.009822
1462  connebi01       2855.0        N  -3.972588
48    adkinde01       2570.0        N  -3.770800
1747   dealco01       2555.0        N  -3.699232
3826  konikal01       2234.0        N  -1.891849
5479  pearcji01       2063.0        N  -0.677228
3437  jacobto01       2396.0        N   1.028446
339   bambege01       2925.0        N   1.452243

[323 rows x 4 columns]
3
['SH', 'RBI/G']
       playerID  servingDays inducted   loglike
3679   kellge01       5100.0        Y -9.753367
2400  furilca01       5135.0        N -9.425394
5382  pafkoan01       5849.0        N -9.093605
267   avilabo01       3804.0        N -9.076733
6071  robinja02       3456.0        Y -8.636682
1102  camparo01       3449.0        Y -8.502027
2087  ennisde01       4795.0        N -8.204782
4772  meyerru01       4671.0        N -7.852874
6841  stanked01       3748.0        N -7.813342
31    adamsbo03       4754.0        N -7.553345
3247  holmeto01       3820.0        N -7.526322
1884   dobyla01       4404.0        Y -7.499252
3744  kinerra01       3449.0        Y -7.435017
710   boonera01       4360.0        N -7.417583
6184  rosenal01       3308.0        N -7.387499
4617  mcdougi01       3453.0        N -7.265868
7910  zernigu01       3811.0        N -7.240787
4344  maglisa01       4770.0        N -7.150747
7393  verbaem01       2357.0        N -7.137912
1671   darkal01       5194.0        N -7.136741
4253  lowrepe01       4886.0        N -7.114546
3721   kerrbu01       2944.0        N -7.079823
5566  peskyjo01       4546.0        N -6.946883
6252   ryanco01       4388.0        N -6.911013
4147  liponjo01       4270.0        N -6.840368
2157   fainfe01       3084.0        N -6.834597
5840  raschvi01       3277.0        N -6.794675
7163  thomsbo01       5060.0        N -6.669061
4776  michaca01       4026.0        N -6.664778
1165  carrach01       3445.0        N -6.655850
...         ...          ...      ...       ...
2902  hanebha01       2338.0        N -1.842392
680   bolgeji01       3373.0        N -1.810284
768   bowmaro01       2068.0        N -1.487972
5410  papaial01       2701.0        N -1.298616
7255  trinkke01       2352.0        N -1.198238
6661  sleatlo01       3078.0        N -1.050041
5479  pearcji01       2063.0        N -0.846348
6314  sanchra01       2952.0        N -0.846348
3826  konikal01       2234.0        N -0.846348
5392  paineph01       2624.0        N -0.687238
1592  crossje01       2081.0        N -0.653508
2569  gillebo01       2191.0        N -0.606205
48    adkinde01       2570.0        N -0.597196
7206  tomandi01       2192.0        N -0.592596
6156  romonjo01       2196.0        N -0.573517
5699  posselo01       2110.0        N -0.472419
7849  yankoge01       2507.0        N  5.395972
3286   houkra01       2562.0        N  5.403495
5985  riebeha01       2579.0        N  5.505756
339   bambege01       2925.0        N  5.510833
3437  jacobto01       2396.0        N  5.510833
7477   wallmu01       3308.0        N  5.510833
4780  mickeed01       2428.0        N  5.532701
1028  burtsmo01       2184.0        N  5.551213
2359  freemhe01       2096.0        N  5.554535
600   biscafr01       2342.0        N  5.558428
4377  mallobo01       2194.0        N  5.577086
1462  connebi01       2855.0        N  5.591911
6190   rossbo01       2153.0        N  5.601738
1747   dealco01       2555.0        N  5.603120

[323 rows x 4 columns]
4
['OBP', 'RBI/G']
       playerID  servingDays inducted   loglike
1102  camparo01       3449.0        Y -2.315109
3744  kinerra01       3449.0        Y -2.277708
6184  rosenal01       3308.0        N -2.146814
2087  ennisde01       4795.0        N -1.907373
1884   dobyla01       4404.0        Y -1.471307
7910  zernigu01       3811.0        N -1.330668
7849  yankoge01       2507.0        N -1.081259
2157   fainfe01       3084.0        N -0.967408
5290   olmolu01       2875.0        N -0.873038
6071  robinja02       3456.0        Y -0.827648
3401  irvinmo01       2641.0        Y -0.798399
6841  stanked01       3748.0        N -0.750916
2400  furilca01       5135.0        N -0.666616
7163  thomsbo01       5060.0        N -0.611382
5146  niarhgu01       3379.0        N -0.335345
7590  westlwa01       3315.0        N -0.315040
17    abramca01       2577.0        N -0.287761
3409  jablora01       2713.0        N -0.209392
3057  hemusso01       3700.0        N -0.183521
6067  robined01       5485.0        N -0.098296
5566  peskyjo01       4546.0        N -0.082809
3592  jonesni01       4130.0        N  0.054731
710   boonera01       4360.0        N  0.071717
6322  sandera01       2717.0        N  0.157757
7147  thompha02       3363.0        N  0.189522
4715   melesa01       3442.0        N  0.277085
5382  pafkoan01       5849.0        N  0.290434
4780  mickeed01       2428.0        N  0.448300
5626  piconma01       2462.0        N  0.494671
6833  stallvi01       2199.0        N  0.574819
...         ...          ...      ...       ...
1392   coangi01       3651.0        N  2.984063
3425  jacksro01       2161.0        N  2.990489
1351  clarkme01       2059.0        N  2.995680
6943  stricge01       3730.0        N  3.004565
642   blaylma01       2559.0        N  3.007661
3312  howeldi02       3413.0        N  3.009307
6976  sullijo06       2674.0        N  3.010079
7539  webbele01       2171.0        N  3.028113
1028  burtsmo01       2184.0        N  3.036175
3828  konstji01       4476.0        N  3.061945
3232  holcoke01       2935.0        N  3.072463
2359  freemhe01       2096.0        N  3.090892
1088  calvepa01       3146.0        N  3.128693
1052  byerlbu01       6143.0        N  3.130176
3746   kingcl01       3385.0        N  3.131428
1945  drewska01       2934.0        N  3.141611
7926  zuverge01       2977.0        N  3.154683
3967  lapalpa01       2284.0        N  3.166179
6791  spencge01       3693.0        N  3.177172
4468  martimo01       3649.0        N  3.182972
3826  konikal01       2234.0        N  4.672275
5479  pearcji01       2063.0        N  4.678580
7477   wallmu01       3308.0        N  4.706119
5107  negraro01       2063.0        N  4.896548
1577  crimija01       2134.0        N  5.087125
6314  sanchra01       2952.0        N  5.232786
6368  savagbo01       2506.0        N  5.245744
768   bowmaro01       2068.0        N  5.270833
339   bambege01       2925.0        N  9.653317
3437  jacobto01       2396.0        N  9.653317

[323 rows x 4 columns]

3
['AB/G', 'RBI/G']
       playerID  servingDays inducted   loglike
1102  camparo01       3449.0        Y -4.573493
3744  kinerra01       3449.0        Y -4.213575
2087  ennisde01       4795.0        N -4.185707
6184  rosenal01       3308.0        N -4.158440
5626  piconma01       2462.0        N -3.276913
1884   dobyla01       4404.0        Y -3.063461
7910  zernigu01       3811.0        N -3.022110
5951  rhodedu01       2630.0        N -2.494467
1671   darkal01       5194.0        N -2.464346
5290   olmolu01       2875.0        N -2.357846
2400  furilca01       5135.0        N -2.320381
7163  thomsbo01       5060.0        N -2.205669
3401  irvinmo01       2641.0        Y -2.204315
7867  youngbo01       3681.0        N -2.000190
7590  westlwa01       3315.0        N -1.945949
1462  connebi01       2855.0        N -1.867061
6190   rossbo01       2153.0        N -1.861080
3247  holmeto01       3820.0        N -1.758127
6067  robined01       5485.0        N -1.756365
3679   kellge01       5100.0        Y -1.750186
3409  jablora01       2713.0        N -1.714505
7652  wilbede01       3073.0        N -1.681605
5566  peskyjo01       4546.0        N -1.652838
6071  robinja02       3456.0        Y -1.642227
710   boonera01       4360.0        N -1.564652
6591  shubage01       2641.0        N -1.510592
1747   dealco01       2555.0        N -1.490330
6322  sandera01       2717.0        N -1.470944
5382  pafkoan01       5849.0        N -1.468473
7423  vollmcl01       4476.0        N -1.413578
...         ...          ...      ...       ...
3864  kretllo01       3650.0        N  0.997480
3731  kielyle01       3281.0        N  1.040146
3779  kliemed01       2443.0        N  1.051430
4377  mallobo01       2194.0        N  1.053351
7539  webbele01       2171.0        N  1.055216
3743  kindeel01       4026.0        N  1.057159
3630  judsoho01       2347.0        N  1.076455
5667  podbibu01       3701.0        N  1.081045
3701  kennebi02       3443.0        N  1.084736
774   boyercl01       2345.0        N  1.092842
7553   weikdi01       2126.0        N  1.100089
812   brazlal01       4079.0        N  1.105084
3519  johnsdo03       4175.0        N  1.106820
6420  schmiwi01       2716.0        N  1.119117
5396  palicer01       4174.0        N  1.142438
3172  hillefr01       2586.0        N  1.166498
4159  littldi01       2884.0        N  1.186550
3600  jonessh01       2484.0        N  1.196071
4799  millebo02       3250.0        N  1.197037
1119  candimi01       3028.0        N  1.231942
3826  konikal01       2234.0        N  3.433376
339   bambege01       2925.0        N  3.560195
6314  sanchra01       2952.0        N  3.679053
1577  crimija01       2134.0        N  3.739724
768   bowmaro01       2068.0        N  3.752093
3437  jacobto01       2396.0        N  3.862412
7477   wallmu01       3308.0        N  3.866018
5107  negraro01       2063.0        N  3.881631
5479  pearcji01       2063.0        N  3.934900
6368  savagbo01       2506.0        N  3.983975

[323 rows x 4 columns]
3
['HR/G', 'RBI/G']
       playerID  servingDays inducted    loglike
3744  kinerra01       3449.0        Y  -3.644323
1102  camparo01       3449.0        Y  -2.524832
6184  rosenal01       3308.0        N  -2.188499
7910  zernigu01       3811.0        N  -2.179868
1884   dobyla01       4404.0        Y  -1.624838
2087  ennisde01       4795.0        N  -1.540133
5290   olmolu01       2875.0        N  -1.271127
6489  seerepa01       2159.0        N  -1.021228
7163  thomsbo01       5060.0        N  -0.866731
7902  zauchno01       2778.0        N  -0.540982
2464  gardeda01       2167.0        N  -0.352204
3401  irvinmo01       2641.0        Y  -0.268552
7590  westlwa01       3315.0        N  -0.204667
7147  thompha02       3363.0        N  -0.188163
2400  furilca01       5135.0        N  -0.073789
2157   fainfe01       3084.0        N  -0.061418
6067  robined01       5485.0        N  -0.048245
4219  lopatst01       4284.0        N  -0.021591
6322  sandera01       2717.0        N   0.123027
3592  jonesni01       4130.0        N   0.158863
3679   kellge01       5100.0        Y   0.195596
3199  hitchbi01       4153.0        N   0.277650
3507  johnsbi03       3671.0        N   0.304090
6506  seminan01       5121.0        N   0.496421
4715   melesa01       3442.0        N   0.518451
476   belarwa01       2357.0        N   0.534967
3409  jablora01       2713.0        N   0.556676
710   boonera01       4360.0        N   0.572841
5382  pafkoan01       5849.0        N   0.589556
3817  kokosdi01       2132.0        N   0.599337
...         ...          ...      ...        ...
4615  mcdonji04       2830.0        N   6.141791
2531  getteal01       3797.0        N   6.151759
1056   byrdha01       2716.0        N   6.155344
581   bickfve01       2191.0        N   6.189019
5626  piconma01       2462.0        N   6.189019
4003  lawrebr01       2138.0        N   6.190730
1592  crossje01       2081.0        N   6.192145
728   borowha01       3436.0        N   6.195901
5672  poholto01       2701.0        N   6.205549
2838  haefnmi01       2716.0        N   6.216023
7072  tayloha03       2051.0        N   6.218638
2992  hattejo01       2266.0        N   6.232365
7828  wrighed01       2594.0        N   6.233688
6190   rossbo01       2153.0        N   6.235622
5359  overmst01       3388.0        N   6.238366
7845   wyseha01       3202.0        N   6.249956
851   brisslo01       2165.0        N   6.250415
2271  floreje01       3076.0        N   6.251058
7422  voisebi01       2867.0        N   6.252616
1462  connebi01       2855.0        N   6.253111
1577  crimija01       2134.0        N  10.651047
7477   wallmu01       3308.0        N  10.651047
768   bowmaro01       2068.0        N  10.651047
6368  savagbo01       2506.0        N  10.651047
6314  sanchra01       2952.0        N  10.651047
3437  jacobto01       2396.0        N  10.651047
3826  konikal01       2234.0        N  10.651047
5479  pearcji01       2063.0        N  10.651047
339   bambege01       2925.0        N  10.651047
5107  negraro01       2063.0        N  10.651047

[323 rows x 4 columns]
4
['SB/G', 'RBI/G']
       playerID  servingDays inducted    loglike
6071  robinja02       3456.0        Y  -3.532608
5290   olmolu01       2875.0        N  -3.027664
6184  rosenal01       3308.0        N  -1.853349
1102  camparo01       3449.0        Y  -0.936533
3744  kinerra01       3449.0        Y  -0.547409
2087  ennisde01       4795.0        N  -0.525668
6914  stirnsn01       3299.0        N  -0.412837
2288  fondyde01       2714.0        N  -0.218988
1884   dobyla01       4404.0        Y  -0.191091
7268  tucketh01       3302.0        N   0.121411
3401  irvinmo01       2641.0        Y   0.235219
1392   coangi01       3651.0        N   0.255767
7910  zernigu01       3811.0        N   0.337828
455   beardte01       3537.0        N   0.348471
1945  drewska01       2934.0        N   0.393775
6241  russeji01       3306.0        N   0.602983
2400  furilca01       5135.0        N   0.727860
638   blattbu01       2724.0        N   0.766587
7919  zoldasa01       3027.0        N   0.836738
7539  webbele01       2171.0        N   0.858238
267   avilabo01       3804.0        N   0.859249
7163  thomsbo01       5060.0        N   0.990746
1592  crossje01       2081.0        N   0.994821
3099  hermage01       3692.0        N   1.066890
4758  metkoca01       4090.0        N   1.073599
2157   fainfe01       3084.0        N   1.129681
7147  thompha02       3363.0        N   1.169581
6067  robined01       5485.0        N   1.181675
7590  westlwa01       3315.0        N   1.184906
6252   ryanco01       4388.0        N   1.239493
...         ...          ...      ...        ...
5626  piconma01       2462.0        N   6.295733
581   bickfve01       2191.0        N   6.295733
728   borowha01       3436.0        N   6.301318
797   brancra01       4470.0        N   6.303748
452   beardge01       2310.0        N   6.303923
7549  wehmehe01       4702.0        N   6.305292
7828  wrighed01       2594.0        N   6.310753
6190   rossbo01       2153.0        N   6.313105
5359  overmst01       3388.0        N   6.316492
3707  kennemo01       2704.0        N   6.317478
7072  tayloha03       2051.0        N   6.319273
5024  mungere01       4894.0        N   6.331294
6382  scarbra01       4109.0        N   6.331526
851   brisslo01       2165.0        N   6.332871
7741  wilsoji02       4897.0        N   6.338057
6985  surkoma01       2934.0        N   6.339352
1462  connebi01       2855.0        N   6.339926
5665   poatra01       2716.0        N   6.340148
7422  voisebi01       2867.0        N   6.340433
2271  floreje01       3076.0        N   6.340476
5479  pearcji01       2063.0        N  10.642636
3826  konikal01       2234.0        N  10.642636
768   bowmaro01       2068.0        N  10.642636
3437  jacobto01       2396.0        N  10.642636
7477   wallmu01       3308.0        N  10.642636
5107  negraro01       2063.0        N  10.642636
6368  savagbo01       2506.0        N  10.642636
339   bambege01       2925.0        N  10.642636
1577  crimija01       2134.0        N  10.642636
6314  sanchra01       2952.0        N  10.642636

[323 rows x 4 columns]
1

1
0
3
['G', 'IBB/G']
       playerID  servingDays inducted    loglike
4219  lopatst01       4284.0        N -12.073356
1102  camparo01       3449.0        Y -10.212040
7750  wilsore01       3290.0        N  -9.090812
1884   dobyla01       4404.0        Y  -8.487359
150   amorosa01       2963.0        N  -8.461750
6626  simpsha01       3081.0        N  -8.308845
531   berbelo01       2200.0        N  -8.234664
3744  kinerra01       3449.0        Y  -7.907739
710   boonera01       4360.0        N  -7.465330
5382  pafkoan01       5849.0        N  -7.463373
5196  norenir01       3819.0        N  -7.317852
3679   kellge01       5100.0        Y  -7.288210
2400  furilca01       5135.0        N  -7.184477
2087  ennisde01       4795.0        N  -7.124257
7463  walkeru01       3708.0        N  -7.113801
243   astrojo01       3926.0        N  -6.989775
3654   kattra01       2499.0        N  -6.941384
4181  lockmwh01       5468.0        N  -6.689094
5951  rhodedu01       2630.0        N  -6.679585
4253  lowrepe01       4886.0        N  -6.484708
7163  thomsbo01       5060.0        N  -6.424626
1671   darkal01       5194.0        N  -6.345611
3401  irvinmo01       2641.0        Y  -6.331929
6071  robinja02       3456.0        Y  -6.206820
3057  hemusso01       3700.0        N  -6.206492
3425  jacksro01       2161.0        N  -6.114473
1414   coledi01       2277.0        N  -6.088137
2990  hatfifr01       2812.0        N  -6.007177
2288  fondyde01       2714.0        N  -5.974860
7679  willida03       2144.0        N  -5.966958
...         ...          ...      ...        ...
3286   houkra01       2562.0        N   0.007305
1028  burtsmo01       2184.0        N   0.034118
7072  tayloha03       2051.0        N   0.034118
5410  papaial01       2701.0        N   0.060398
5479  pearcji01       2063.0        N   0.202477
3826  konikal01       2234.0        N   0.257405
7553   weikdi01       2126.0        N   0.306858
48    adkinde01       2570.0        N   0.314724
1577  crimija01       2134.0        N   0.358348
600   biscafr01       2342.0        N   0.373854
865   brododi01       2575.0        N   0.402307
7649  wieslbo01       2472.0        N   0.415233
1747   dealco01       2555.0        N   0.435712
4442  martiba01       3201.0        N   0.438434
4377  mallobo01       2194.0        N   0.456294
1462  connebi01       2855.0        N   0.458430
6314  sanchra01       2952.0        N   0.465107
6156  romonjo01       2196.0        N   0.465107
5107  negraro01       2063.0        N   0.466485
768   bowmaro01       2068.0        N   0.472936
5985  riebeha01       2579.0        N   0.494763
527   bensove01       3591.0        N   0.497390
2569  gillebo01       2191.0        N   0.500398
6190   rossbo01       2153.0        N   1.167232
3437  jacobto01       2396.0        N   1.390120
7849  yankoge01       2507.0        N   1.463491
4780  mickeed01       2428.0        N   1.463491
5699  posselo01       2110.0        N   1.715080
5626  piconma01       2462.0        N   1.970971
339   bambege01       2925.0        N   2.047615

[323 rows x 4 columns]
2
3
['OBP', 'IBB/G']
       playerID  servingDays inducted   loglike
531   berbelo01       2200.0        N -0.989231
4219  lopatst01       4284.0        N -0.552067
150   amorosa01       2963.0        N  0.513920
7750  wilsore01       3290.0        N  0.586072
6071  robinja02       3456.0        Y  0.597062
6661  sleatlo01       3078.0        N  0.919668
3057  hemusso01       3700.0        N  1.798518
1102  camparo01       3449.0        Y  1.816064
1884   dobyla01       4404.0        Y  1.985079
17    abramca01       2577.0        N  1.997116
3401  irvinmo01       2641.0        Y  2.028642
6184  rosenal01       3308.0        N  2.063483
2157   fainfe01       3084.0        N  2.095634
7147  thompha02       3363.0        N  2.460089
3679   kellge01       5100.0        Y  2.649837
680   bolgeji01       3373.0        N  2.910543
710   boonera01       4360.0        N  2.925899
5297  olsonka01       2172.0        N  2.934714
4617  mcdougi01       3453.0        N  2.953416
4790  miksied01       5214.0        N  3.048894
2400  furilca01       5135.0        N  3.059998
5646  pisonji01       2564.0        N  3.090277
7313  usherbo01       4174.0        N  3.094388
6067  robined01       5485.0        N  3.116825
7592  westrwe01       3665.0        N  3.122386
2995  hattogr01       5282.0        N  3.129249
1433  collijo01       3291.0        N  3.132664
2902  hanebha01       2338.0        N  3.185837
6506  seminan01       5121.0        N  3.227555
3654   kattra01       2499.0        N  3.229744
...         ...          ...      ...       ...
5981  rickema01       2938.0        N  7.344407
5344  ostrojo01       2564.0        N  7.345008
7443   wahlke01       2593.0        N  7.345148
3863  kressch01       2640.0        N  7.347435
5290   olmolu01       2875.0        N  7.356085
6327  sandlmi01       4026.0        N  7.357106
4273   lunddo01       3315.0        N  7.360944
5183  nixonwi01       2919.0        N  7.361812
1462  connebi01       2855.0        N  7.362265
5056  murrara01       2344.0        N  7.362690
3791  kluttcl01       3813.0        N  7.364231
1351  clarkme01       2059.0        N  7.365780
2205  fernana01       3008.0        N  7.365986
561   berryne01       2212.0        N  7.369639
6772  souchst01       3247.0        N  7.371658
4747  merrill01       2337.0        N  7.371937
1392   coangi01       3651.0        N  7.373521
4051  lehnepa01       2120.0        N  7.376289
7888  yvarssa01       2556.0        N  7.376920
2374  fridlji01       2356.0        N  7.376931
6363  sauered01       2207.0        N  7.377126
5658  plattwh01       2573.0        N  7.377369
3877  kryhodi01       2243.0        N  7.377765
3199  hitchbi01       4153.0        N  7.378289
5959   riceha02       2185.0        N  7.378482
3721   kerrbu01       2944.0        N  7.380077
1337  clarkal01       2131.0        N  7.380184
6976  sullijo06       2674.0        N  7.380224
3437  jacobto01       2396.0        N  9.668373
339   bambege01       2925.0        N  9.668373

[323 rows x 4 columns]
1
3
['HR/G', 'IBB/G']
       playerID  servingDays inducted    loglike
3744  kinerra01       3449.0        Y  -0.616722
1102  camparo01       3449.0        Y  -0.484041
4219  lopatst01       4284.0        N  -0.322044
531   berbelo01       2200.0        N   0.284205
6184  rosenal01       3308.0        N   0.880515
7750  wilsore01       3290.0        N   1.029077
7910  zernigu01       3811.0        N   1.040683
150   amorosa01       2963.0        N   1.242472
1884   dobyla01       4404.0        Y   1.325697
2087  ennisde01       4795.0        N   1.754218
7163  thomsbo01       5060.0        N   1.787344
7902  zauchno01       2778.0        N   2.080216
3425  jacksro01       2161.0        N   2.204461
7147  thompha02       3363.0        N   2.280945
6626  simpsha01       3081.0        N   2.539859
6067  robined01       5485.0        N   2.540761
3401  irvinmo01       2641.0        Y   2.553991
838   brideji01       2184.0        N   2.651907
7463  walkeru01       3708.0        N   2.664857
6506  seminan01       5121.0        N   2.669797
5951  rhodedu01       2630.0        N   2.692043
2400  furilca01       5135.0        N   2.725465
710   boonera01       4360.0        N   2.767086
6531  shantbi01       2269.0        N   2.770580
4856  miranwi01       3046.0        N   2.829666
680   bolgeji01       3373.0        N   2.955685
1414   coledi01       2277.0        N   2.964776
5240  obriejo03       2282.0        N   2.993288
3409  jablora01       2713.0        N   3.064671
3654   kattra01       2499.0        N   3.083348
...         ...          ...      ...        ...
5410  papaial01       2701.0        N  11.429547
4615  mcdonji04       2830.0        N  11.429547
5479  pearcji01       2063.0        N  11.429547
5626  piconma01       2462.0        N  11.429547
5667  podbibu01       3701.0        N  11.429547
5672  poholto01       2701.0        N  11.429547
5699  posselo01       2110.0        N  11.429547
5723  preskjo01       2561.0        N  11.429547
5764  queenme01       3666.0        N  11.429547
5577  peterke01       3290.0        N  11.429547
4577  mccalwi01       3297.0        N  11.429547
4468  martimo01       3649.0        N  11.429547
4377  mallobo01       2194.0        N  11.429547
3286   houkra01       2562.0        N  11.429547
3437  jacobto01       2396.0        N  11.429547
3519  johnsdo03       4175.0        N  11.429547
3600  jonessh01       2484.0        N  11.429547
3630  judsoho01       2347.0        N  11.429547
3683  kellybo01       2588.0        N  11.429547
3701  kennebi02       3443.0        N  11.429547
3746   kingcl01       3385.0        N  11.429547
3826  konikal01       2234.0        N  11.429547
3828  konstji01       4476.0        N  11.429547
3864  kretllo01       3650.0        N  11.429547
3967  lapalpa01       2284.0        N  11.429547
4003  lawrebr01       2138.0        N  11.429547
4159  littldi01       2884.0        N  11.429547
7919  zoldasa01       3027.0        N  11.429547
6190   rossbo01       2153.0        N  11.429547
7926  zuverge01       2977.0        N  11.429547

[323 rows x 4 columns]

2
3
['RBI/G', 'IBB/G']
       playerID  servingDays inducted    loglike
1102  camparo01       3449.0        Y  -4.122941
4219  lopatst01       4284.0        N  -2.178744
6184  rosenal01       3308.0        N  -0.470377
531   berbelo01       2200.0        N  -0.452425
150   amorosa01       2963.0        N  -0.395693
2087  ennisde01       4795.0        N  -0.342217
7750  wilsore01       3290.0        N  -0.224313
1884   dobyla01       4404.0        Y   0.260077
2400  furilca01       5135.0        N   0.496647
3401  irvinmo01       2641.0        Y   0.860420
7163  thomsbo01       5060.0        N   0.932554
6661  sleatlo01       3078.0        N   1.062125
6626  simpsha01       3081.0        N   1.169154
710   boonera01       4360.0        N   1.182360
3409  jablora01       2713.0        N   1.243264
3425  jacksro01       2161.0        N   1.257805
6067  robined01       5485.0        N   1.267500
6071  robinja02       3456.0        Y   1.336671
3744  kinerra01       3449.0        Y   1.382664
7463  walkeru01       3708.0        N   1.440057
7147  thompha02       3363.0        N   1.482975
7910  zernigu01       3811.0        N   1.601452
5240  obriejo03       2282.0        N   1.744107
2902  hanebha01       2338.0        N   1.860457
5951  rhodedu01       2630.0        N   1.862955
7902  zauchno01       2778.0        N   1.863959
5382  pafkoan01       5849.0        N   1.879649
6279  saffeto01       2277.0        N   1.911394
4856  miranwi01       3046.0        N   1.920599
838   brideji01       2184.0        N   1.923811
...         ...          ...      ...        ...
865   brododi01       2575.0        N   6.997785
7651  wightbi01       4540.0        N   7.000979
3743  kindeel01       4026.0        N   7.011711
7919  zoldasa01       3027.0        N   7.017592
5694  portoar01       2250.0        N   7.030511
6396  schanch01       2264.0        N   7.031098
382   barnere02       2574.0        N   7.031098
5551  perkoha01       2927.0        N   7.032974
1119  candimi01       3028.0        N   7.038523
5396  palicer01       4174.0        N   7.042249
3172  hillefr01       2586.0        N   7.043333
3902  kuzavbo01       4026.0        N   7.044820
5699  posselo01       2110.0        N   7.058902
3600  jonessh01       2484.0        N   7.066132
6333  sanfofr01       3054.0        N   7.068755
3864  kretllo01       3650.0        N   7.071266
3521  johnser02       3424.0        N   7.071805
5667  podbibu01       3701.0        N   7.074401
1259  chakabo01       2341.0        N   7.076160
4799  millebo02       3250.0        N   7.078331
768   bowmaro01       2068.0        N  10.648272
339   bambege01       2925.0        N  10.648272
6314  sanchra01       2952.0        N  10.648272
7477   wallmu01       3308.0        N  10.648272
3826  konikal01       2234.0        N  10.648272
5107  negraro01       2063.0        N  10.648272
5479  pearcji01       2063.0        N  10.648272
6368  savagbo01       2506.0        N  10.648272
1577  crimija01       2134.0        N  10.648272
3437  jacobto01       2396.0        N  10.648272

[323 rows x 4 columns]
0
0
0
2
1
2
0
1
1
3
['RBI/G', 'SF/G']
       playerID  servingDays inducted    loglike
3409  jablora01       2713.0        N  -2.356298
3744  kinerra01       3449.0        Y  -1.744685
6184  rosenal01       3308.0        N  -1.485161
1102  camparo01       3449.0        Y  -1.260220
2087  ennisde01       4795.0        N  -0.828081
7902  zauchno01       2778.0        N  -0.581436
531   berbelo01       2200.0        N  -0.331266
1884   dobyla01       4404.0        Y   0.003487
7910  zernigu01       3811.0        N   0.066493
6067  robined01       5485.0        N   0.443156
2400  furilca01       5135.0        N   0.689714
3401  irvinmo01       2641.0        Y   0.791356
7163  thomsbo01       5060.0        N   0.806487
2964  harshja01       4398.0        N   0.850416
6071  robinja02       3456.0        Y   0.951093
5297  olsonka01       2172.0        N   1.095759
710   boonera01       4360.0        N   1.139371
5382  pafkoan01       5849.0        N   1.158030
1945  drewska01       2934.0        N   1.194528
4715   melesa01       3442.0        N   1.281599
3519  johnsdo03       4175.0        N   1.352483
5206  northro01       5646.0        N   1.358962
3654   kattra01       2499.0        N   1.368338
4219  lopatst01       4284.0        N   1.388247
2157   fainfe01       3084.0        N   1.403010
7649  wieslbo01       2472.0        N   1.421161
9      aberal01       2553.0        N   1.432550
4912  monzara01       2124.0        N   1.438013
642   blaylma01       2559.0        N   1.533905
7590  westlwa01       3315.0        N   1.536416
...         ...          ...      ...        ...
3600  jonessh01       2484.0        N   6.859754
5667  podbibu01       3701.0        N   6.877066
1259  chakabo01       2341.0        N   6.881733
1056   byrdha01       2716.0        N   6.886405
2531  getteal01       3797.0        N   6.891547
2744  greggha01       3287.0        N   6.892678
4615  mcdonji04       2830.0        N   6.903534
2165  fannicl01       2582.0        N   6.904263
1469  consusa01       2544.0        N   6.904662
774   boyercl01       2345.0        N   6.908850
2713   grayte01       3403.0        N   6.911397
865   brododi01       2575.0        N   6.914092
7651  wightbi01       4540.0        N   6.915038
3743  kindeel01       4026.0        N   6.917969
3864  kretllo01       3650.0        N   6.918607
6333  sanfofr01       3054.0        N   6.920041
5694  portoar01       2250.0        N   6.921950
5699  posselo01       2110.0        N   6.922980
5396  palicer01       4174.0        N   6.923380
3172  hillefr01       2586.0        N   6.923456
3826  konikal01       2234.0        N  10.651055
7477   wallmu01       3308.0        N  10.651055
5107  negraro01       2063.0        N  10.651055
6314  sanchra01       2952.0        N  10.651055
5479  pearcji01       2063.0        N  10.651055
768   bowmaro01       2068.0        N  10.651055
3437  jacobto01       2396.0        N  10.651055
1577  crimija01       2134.0        N  10.651055
6368  savagbo01       2506.0        N  10.651055
339   bambege01       2925.0        N  10.651055

[323 rows x 4 columns]
1
0
0
0
1
2
0
0
2
2
1
0
0
0
0
0
2
2
0
0
3
['HR/G', 'servingDays']
       playerID  servingDays inducted    loglike
3744  kinerra01       3449.0        Y -13.612509
1052  byerlbu01       6143.0        N -12.526063
5382  pafkoan01       5849.0        N -11.014028
1102  camparo01       3449.0        Y -10.965313
7910  zernigu01       3811.0        N -10.962233
6067  robined01       5485.0        N -10.847469
7163  thomsbo01       5060.0        N -10.762322
5206  northro01       5646.0        N -10.600534
2087  ennisde01       4795.0        N -10.561847
1884   dobyla01       4404.0        Y -10.561716
6506  seminan01       5121.0        N -10.372746
6184  rosenal01       3308.0        N -10.335238
2400  furilca01       5135.0        N -10.162776
4181  lockmwh01       5468.0        N  -9.880342
4438  marshwi01       4810.0        N  -9.879821
4219  lopatst01       4284.0        N  -9.829374
2995  hattogr01       5282.0        N  -9.636175
710   boonera01       4360.0        N  -9.624648
7423  vollmcl01       4476.0        N  -9.621793
1060  byrneto01       5261.0        N  -9.548780
1671   darkal01       5194.0        N  -9.502919
6489  seerepa01       2159.0        N  -9.418565
7147  thompha02       3363.0        N  -9.396565
4790  miksied01       5214.0        N  -9.340243
7902  zauchno01       2778.0        N  -9.333398
7590  westlwa01       3315.0        N  -9.329826
7592  westrwe01       3665.0        N  -9.306180
2464  gardeda01       2167.0        N  -9.302782
4253  lowrepe01       4886.0        N  -9.294062
3423  jacksra01       3433.0        N  -9.268097
...         ...          ...      ...        ...
7649  wieslbo01       2472.0        N  -3.757762
5626  piconma01       2462.0        N  -3.744265
4780  mickeed01       2428.0        N  -3.699313
3437  jacobto01       2396.0        N  -3.658333
7255  trinkke01       2352.0        N  -3.604097
2093  erauted01       2351.0        N  -3.602893
3630  judsoho01       2347.0        N  -3.598089
774   boyercl01       2345.0        N  -3.595694
600   biscafr01       2342.0        N  -3.592112
3967  lapalpa01       2284.0        N  -3.525106
2992  hattejo01       2266.0        N  -3.505181
3826  konikal01       2234.0        N  -3.470782
6699  smithfr06       2217.0        N  -3.453041
561   berryne01       2212.0        N  -3.447893
4377  mallobo01       2194.0        N  -3.429627
2569  gillebo01       2191.0        N  -3.426623
581   bickfve01       2191.0        N  -3.426623
1028  burtsmo01       2184.0        N  -3.419659
851   brisslo01       2165.0        N  -3.401074
6190   rossbo01       2153.0        N  -3.389575
4003  lawrebr01       2138.0        N  -3.375461
1577  crimija01       2134.0        N  -3.371747
7553   weikdi01       2126.0        N  -3.364380
4912  monzara01       2124.0        N  -3.362551
5699  posselo01       2110.0        N  -3.349893
1592  crossje01       2081.0        N  -3.324479
768   bowmaro01       2068.0        N  -3.313439
5107  negraro01       2063.0        N  -3.309251
5479  pearcji01       2063.0        N  -3.309251
7072  tayloha03       2051.0        N  -3.299333

[323 rows x 4 columns]

1
2
1
0
0
0
0
0
2
1
0
0
2
1
3
['RBI/G', 'debutAge']
       playerID  servingDays inducted   loglike
2087  ennisde01       4795.0        N -7.273664
3401  irvinmo01       2641.0        Y -6.406781
6399  scheica01       3913.0        N -6.387816
4776  michaca01       4026.0        N -6.333641
6184  rosenal01       3308.0        N -6.322106
3744  kinerra01       3449.0        Y -6.241824
923   brownto02       3340.0        N -5.789290
7910  zernigu01       3811.0        N -5.355391
1062  cabalpu01       2935.0        N -5.296078
1884   dobyla01       4404.0        Y -5.211248
1102  camparo01       3449.0        Y -4.806848
3294  houttar01       4529.0        N -4.719421
6071  robinja02       3456.0        Y -4.613167
5290   olmolu01       2875.0        N -4.513098
680   bolgeji01       3373.0        N -4.493229
2400  furilca01       5135.0        N -4.478771
797   brancra01       4470.0        N -4.478246
5396  palicer01       4174.0        N -4.478177
4790  miksied01       5214.0        N -4.449314
7163  thomsbo01       5060.0        N -4.412797
6489  seerepa01       2159.0        N -4.386644
3817  kokosdi01       2132.0        N -4.377696
7549  wehmehe01       4702.0        N -4.308851
6067  robined01       5485.0        N -4.278390
3592  jonesni01       4130.0        N -4.265054
7423  vollmcl01       4476.0        N -4.116221
4438  marshwi01       4810.0        N -4.062613
710   boonera01       4360.0        N -3.977663
6322  sandera01       2717.0        N -3.971168
5382  pafkoan01       5849.0        N -3.947303
...         ...          ...      ...       ...
728   borowha01       3436.0        N -0.612166
7919  zoldasa01       3027.0        N -0.609981
1119  candimi01       3028.0        N -0.598677
3521  johnser02       3424.0        N -0.582348
561   berryne01       2212.0        N -0.573728
4218  lopated01       4163.0        N -0.541067
2902  hanebha01       2338.0        N -0.513673
5146  niarhgu01       3379.0        N -0.370317
6531  shantbi01       2269.0        N  0.082118
2288  fondyde01       2714.0        N  0.248888
3232  holcoke01       2935.0        N  0.278467
7926  zuverge01       2977.0        N  0.355992
7652  wilbede01       3073.0        N  0.373245
4468  martimo01       3649.0        N  0.396596
3701  kennebi02       3443.0        N  0.407798
6127  rogovsa01       2974.0        N  0.530966
5384   pagejo01       3688.0        N  0.602542
3456  jansela01       3449.0        N  0.710088
6985  surkoma01       2934.0        N  0.748761
6543   sheasp01       3052.0        N  0.955116
3826  konikal01       2234.0        N  1.385249
6368  savagbo01       2506.0        N  1.716893
6314  sanchra01       2952.0        N  1.933621
5107  negraro01       2063.0        N  2.026368
768   bowmaro01       2068.0        N  2.031010
339   bambege01       2925.0        N  2.197464
3437  jacobto01       2396.0        N  2.209078
7477   wallmu01       3308.0        N  2.305206
5479  pearcji01       2063.0        N  2.321297
1577  crimija01       2134.0        N  2.366308

[323 rows x 4 columns]
2
1
0
0

[[0, ['FPCT']],
 [1, ['POS']],
 [1, ['FPCT', 'POS']],
 [3, ['G']],
 [0, ['FPCT', 'G']],
 [2, ['POS', 'G']],
 [2, ['SH']],
 [0, ['FPCT', 'SH']],
 [1, ['POS', 'SH']],
 [3, ['G', 'SH']],
 [2, ['OBP']],
 [0, ['FPCT', 'OBP']],
 [1, ['POS', 'OBP']],
 [1, ['G', 'OBP']],
 [1, ['SH', 'OBP']],
 [1, ['AB/G']],
 [0, ['FPCT', 'AB/G']],
 [2, ['POS', 'AB/G']],
 [0, ['G', 'AB/G']],
 [1, ['SH', 'AB/G']],
 [2, ['OBP', 'AB/G']],
 [3, ['HR/G']],
 [2, ['FPCT', 'HR/G']],
 [2, ['POS', 'HR/G']],
 [4, ['G', 'HR/G']],
 [4, ['SH', 'HR/G']],
 [4, ['OBP', 'HR/G']],
 [2, ['AB/G', 'HR/G']],
 [1, ['SB/G']],
 [1, ['FPCT', 'SB/G']],
 [1, ['POS', 'SB/G']],
 [2, ['G', 'SB/G']],
 [2, ['SH', 'SB/G']],
 [1, ['OBP', 'SB/G']],
 [1, ['AB/G', 'SB/G']],
 [3, ['HR/G', 'SB/G']],
 [4, ['RBI/G']],
 [0, ['FPCT', 'RBI/G']],
 [3, ['POS', 'RBI/G']],
 [4, ['G', 'RBI/G']],
 [3, ['SH', 'RBI/G']],
 [4, ['OBP', 'RBI/G']],
 [3, ['AB/G', 'RBI/G']],
 [3, ['HR/G', 'RBI/G']],
 [4, ['SB/G', 'RBI/G']],
 [1, ['IBB/G']],
 [1, ['FPCT', 'IBB/G']],
 [0, ['POS', 'IBB/G']],
 [3, ['G', 'IBB/G']],
 [2, ['SH', 'IBB/G']],
 [3, ['OBP', 'IBB/G']],
 [1, ['AB/G', 'IBB/G']],
 [3, ['HR/G', 'IBB/G']],
 [2, ['SB/G', 'IBB/G']],
 [3, ['RBI/G', 'IBB/G']],
 [0, ['SF/G']],
 [0, ['FPCT', 'SF/G']],
 [0, ['POS', 'SF/G']],
 [2, ['G', 'SF/G']],
 [1, ['SH', 'SF/G']],
 [2, ['OBP', 'SF/G']],
 [0, ['AB/G', 'SF/G']],
 [1, ['HR/G', 'SF/G']],
 [1, ['SB/G', 'SF/G']],
 [3, ['RBI/G', 'SF/G']],
 [1, ['IBB/G', 'SF/G']],
 [0, ['weight']],
 [0, ['FPCT', 'weight']],
 [0, ['POS', 'weight']],
 [1, ['G', 'weight']],
 [2, ['SH', 'weight']],
 [0, ['OBP', 'weight']],
 [0, ['AB/G', 'weight']],
 [2, ['HR/G', 'weight']],
 [2, ['SB/G', 'weight']],
 [1, ['RBI/G', 'weight']],
 [0, ['IBB/G', 'weight']],
 [0, ['SF/G', 'weight']],
 [0, ['servingDays']],
 [0, ['FPCT', 'servingDays']],
 [0, ['POS', 'servingDays']],
 [2, ['G', 'servingDays']],
 [2, ['SH', 'servingDays']],
 [0, ['OBP', 'servingDays']],
 [0, ['AB/G', 'servingDays']],
 [3, ['HR/G', 'servingDays']],
 [1, ['SB/G', 'servingDays']],
 [2, ['RBI/G', 'servingDays']],
 [1, ['IBB/G', 'servingDays']],
 [0, ['SF/G', 'servingDays']],
 [0, ['weight', 'servingDays']],
 [0, ['debutAge']],
 [0, ['FPCT', 'debutAge']],
 [0, ['POS', 'debutAge']],
 [2, ['G', 'debutAge']],
 [1, ['SH', 'debutAge']],
 [0, ['OBP', 'debutAge']],
 [0, ['AB/G', 'debutAge']],
 [2, ['HR/G', 'debutAge']],
 [1, ['SB/G', 'debutAge']],
 [3, ['RBI/G', 'debutAge']],
 [2, ['IBB/G', 'debutAge']],
 [1, ['SF/G', 'debutAge']],
 [0, ['weight', 'debutAge']],
 [0, ['servingDays', 'debutAge']]]

In [14]:
players[players['inducted']=='Y']

,playerID,FPCT,POS,G,SH,OBP,AB/G,HR/G,SB/G,RBI/G,IBB/G,SF/G,debut,finalGame,weight,servingDays,debutAge,inducted
927,brownwi02,1.000000,OF,21,0.0,0.179104,3.190476,0.047619,0.095238,0.285714,0.000000,0.000000,1947-07-19,1947-08-17,200.0,29.0,32.567123,Y
1102,camparo01,0.987926,C,1215,30.0,0.360217,3.460905,0.199177,0.020576,0.704527,0.024691,0.014815,1948-04-20,1957-09-29,190.0,3449.0,27.317808,Y
1884,dobyla01,0.979901,OF,1533,20.0,0.385864,3.488584,0.165036,0.030659,0.632746,0.012394,0.016308,1947-07-05,1959-07-26,180.0,4404.0,24.523288,Y
3401,irvinmo01,0.985971,OF,764,9.0,0.383148,3.270942,0.129581,0.036649,0.579843,0.006545,0.014398,1949-07-08,1956-09-30,195.0,2641.0,30.536986,Y
3679,kellge01,0.969984,3B,1795,149.0,0.367394,3.733705,0.043454,0.028412,0.484680,0.003900,0.011142,1943-09-28,1957-09-14,175.0,5100.0,21.753425,Y
3744,kinerra01,0.975323,OF,1472,9.0,0.397951,3.536005,0.250679,0.014946,0.689538,0.000679,0.004755,1946-04-16,1955-09-25,195.0,3449.0,24.304110,Y
6071,robinja02,0.988926,2B,1382,104.0,0.408915,3.528944,0.099132,0.142547,0.531114,0.005065,0.006512,1947-04-15,1956-09-30,195.0,3456.0,28.304110,Y

In [15]:
players[players['playerID']=='pafkoan01']

,playerID,FPCT,POS,G,SH,OBP,AB/G,HR/G,SB/G,RBI/G,IBB/G,SF/G,debut,finalGame,weight,servingDays,debutAge,inducted
5382,pafkoan01,0.984904,OF,1852,82.0,0.350374,3.397408,0.115011,0.020518,0.526998,0.00378,0.008099,1943-09-24,1959-09-29,190.0,5849.0,22.742466,N

In [27]:
players[players['playerID']=='rosenal01']

,playerID,FPCT,POS,G,SH,OBP,AB/G,HR/G,SB/G,RBI/G,IBB/G,SF/G,debut,finalGame,weight,servingDays,debutAge,inducted
6184,rosenal01,0.968578,3B,1044,9.0,0.384192,3.568008,0.183908,0.037356,0.686782,0.008621,0.024904,1947-09-10,1956-09-30,180.0,3308.0,23.706849,N

In [16]:
hof = pd.read_csv("HallOfFame.csv")

In [18]:
hof[hof['playerID']=='brownwi02']

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
3783,brownwi02,2006,Negro League,NaN,NaN,NaN,Y,Player,NaN

In [19]:
hof[hof['playerID']=='camparo01']

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
1973,camparo01,1964,Run Off,201.0,NaN,138.0,N,Player,1st
1975,camparo01,1964,BBWAA,201.0,151.0,115.0,N,Player,NaN
2066,camparo01,1966,BBWAA,302.0,227.0,197.0,N,Player,NaN
2118,camparo01,1967,BBWAA,292.0,219.0,204.0,N,Player,NaN
2119,camparo01,1967,Run Off,306.0,NaN,170.0,N,Player,1st
2195,camparo01,1968,BBWAA,283.0,213.0,205.0,N,Player,NaN
2245,camparo01,1969,BBWAA,340.0,255.0,270.0,Y,Player,NaN

In [20]:
hof[hof['playerID']=='dobyla01']

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
2094,dobyla01,1966,BBWAA,302.0,227.0,7.0,N,Player,NaN
2165,dobyla01,1967,BBWAA,292.0,219.0,10.0,N,Player,NaN
2190,dobyla01,1967,Run Off,306.0,NaN,1.0,N,Player,1st
3531,dobyla01,1998,Veterans,NaN,NaN,NaN,Y,Player,NaN

In [21]:
hof[hof['playerID']=='irvinmo01']

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
2494,irvinmo01,1973,Negro League,NaN,NaN,NaN,Y,Player,NaN

In [22]:
hof[hof['playerID']=='kellge01']

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
1992,kellge01,1964,BBWAA,201.0,151.0,33.0,N,Player,NaN
2026,kellge01,1964,Run Off,201.0,NaN,8.0,N,Player,1st
2085,kellge01,1966,BBWAA,302.0,227.0,29.0,N,Player,NaN
2141,kellge01,1967,BBWAA,292.0,219.0,40.0,N,Player,NaN
2164,kellge01,1967,Run Off,306.0,NaN,11.0,N,Player,1st
2210,kellge01,1968,BBWAA,283.0,213.0,47.0,N,Player,NaN
2261,kellge01,1969,BBWAA,340.0,255.0,60.0,N,Player,NaN
2301,kellge01,1970,BBWAA,300.0,225.0,90.0,N,Player,NaN
2351,kellge01,1971,BBWAA,360.0,270.0,105.0,N,Player,NaN
2407,kellge01,1972,BBWAA,396.0,297.0,115.0,N,Player,NaN
2458,kellge01,1973,BBWAA,380.0,285.0,114.0,N,Player,NaN
2510,kellge01,1974,BBWAA,365.0,274.0,94.0,N,Player,NaN
2557,kellge01,1975,BBWAA,362.0,272.0,114.0,N,Player,NaN
2595,kellge01,1976,BBWAA,388.0,291.0,129.0,N,Player,NaN
2631,kellge01,1977,BBWAA,383.0,288.0,141.0,N,Player,NaN
2951,kellge01,1983,Veterans,NaN,NaN,NaN,Y,Player,NaN

In [23]:
hof[hof['playerID']=='kinerra01']

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
1835,kinerra01,1960,BBWAA,269.0,202.0,3.0,N,Player,NaN
1918,kinerra01,1962,BBWAA,160.0,120.0,5.0,N,Player,NaN
1994,kinerra01,1964,BBWAA,201.0,151.0,31.0,N,Player,NaN
2039,kinerra01,1964,Run Off,201.0,NaN,3.0,N,Player,1st
2074,kinerra01,1966,BBWAA,302.0,227.0,74.0,N,Player,NaN
2121,kinerra01,1967,BBWAA,292.0,219.0,124.0,N,Player,NaN
2140,kinerra01,1967,Run Off,306.0,NaN,41.0,N,Player,1st
2198,kinerra01,1968,BBWAA,283.0,213.0,118.0,N,Player,NaN
2247,kinerra01,1969,BBWAA,340.0,255.0,137.0,N,Player,NaN
2293,kinerra01,1970,BBWAA,300.0,225.0,167.0,N,Player,NaN
2343,kinerra01,1971,BBWAA,360.0,270.0,212.0,N,Player,NaN
2400,kinerra01,1972,BBWAA,396.0,297.0,235.0,N,Player,NaN
2450,kinerra01,1973,BBWAA,380.0,285.0,235.0,N,Player,NaN
2500,kinerra01,1974,BBWAA,365.0,274.0,215.0,N,Player,NaN
2545,kinerra01,1975,BBWAA,362.0,272.0,273.0,Y,Player,NaN

In [24]:
hof[hof['playerID']=='robinja02']

,playerID,yearid,votedBy,ballots,needed,votes,inducted,category,needed_note
1885,robinja02,1962,BBWAA,160.0,120.0,124.0,Y,Player,NaN

In [25]:
hof[hof['playerID']=='rosenal01']

Empty DataFrame
Columns: [playerID, yearid, votedBy, ballots, needed, votes, inducted, category, needed_note]
Index: []

In [26]:
X = players[['G','HR/G']]
y = players[['inducted']]

lowest_bic = np.infty
bic = []
n_components_range = range(1, 10)
for n_components in n_components_range:
    # Fit a Gaussian mixture with EM
    gmm = mixture.GaussianMixture(n_components=n_components,
                                  covariance_type='full', random_state = 2018)
    gmm.fit(X)
    bic.append(gmm.bic(X))
    if bic[-1] < lowest_bic:
        lowest_bic = bic[-1]
        best_gmm = gmm

loglike=best_gmm.score_samples(X)
players_pre = players[['playerID','servingDays','G','HR/G','inducted']]
players_pre.loc[:,'loglike']=loglike

player10 = players_pre[players_pre['servingDays']>2000].sort_values(['loglike'],ascending=True).iloc[:10,:]
num = (player10[player10['inducted']=='Y'].shape[0])
num_list.append([num,feature])
print(num)
if num>=3:
    print(feature)
    print(players_pre[players_pre['servingDays']>2000].sort_values('loglike'))

4
['FPCT', 'POS', 'G', 'SH', 'OBP', 'AB/G', 'HR/G', 'SB/G', 'RBI/G', 'IBB/G', 'SF/G', 'weight', 'servingDays', 'debutAge']
       playerID  servingDays     G      HR/G inducted    loglike
6184  rosenal01       3308.0  1044  0.183908        N -12.724145
3744  kinerra01       3449.0  1472  0.250679        Y -11.088482
1884   dobyla01       4404.0  1533  0.165036        Y -10.689764
1102  camparo01       3449.0  1215  0.199177        Y -10.097370
4181  lockmwh01       5468.0  1666  0.068427        N -10.011890
7910  zernigu01       3811.0  1234  0.192058        N  -9.638537
6489  seerepa01       2159.0   561  0.153298        N  -9.498418
7163  thomsbo01       5060.0  1779  0.148398        N  -9.312909
2087  ennisde01       4795.0  1903  0.151340        N  -9.250657
3679   kellge01       5100.0  1795  0.043454        Y  -9.225548
7147  thompha02       3363.0   933  0.138264        N  -8.993100
4253  lowrepe01       4886.0  1401  0.026410        N  -8.985652
4219  lopatst01       4284.0   853  0.135991        N  -8.765588
7590  westlwa01       3315.0   958  0.132568        N  -8.760436
1671   darkal01       5194.0  1828  0.068928        N  -8.614830
3401  irvinmo01       2641.0   764  0.129581        Y  -8.565689
2252  fitzged01       4166.0   807  0.023544        N  -8.331786
6976  sullijo06       2674.0   605  0.001653        N  -8.318705
5566  peskyjo01       4546.0  1270  0.013386        N  -8.277890
2464  gardeda01       2167.0   169  0.142012        N  -8.270111
6071  robinja02       3456.0  1382  0.099132        Y  -8.266310
710   boonera01       4360.0  1373  0.109978        N  -8.196667
5382  pafkoan01       5849.0  1852  0.115011        N  -8.183855
6067  robined01       5485.0  1315  0.130798        N  -8.093873
6506  seminan01       5121.0  1304  0.125767        N  -8.063499
7902  zauchno01       2778.0   346  0.144509        N  -8.043421
1165  carrach01       3445.0  1325  0.041509        N  -8.038025
6841  stanked01       3748.0  1259  0.023034        N  -8.023542
4438  marshwi01       4810.0  1246  0.104334        N  -7.997559
2990  hatfifr01       2812.0   722  0.034626        N  -7.991188
...         ...          ...   ...       ...      ...        ...
4912  monzara01       2124.0   110  0.000000        N  -1.807375
1088  calvepa01       3146.0   110  0.000000        N  -1.807375
7828  wrighed01       2594.0   101  0.000000        N  -1.220287
3232  holcoke01       2935.0    99  0.000000        N  -1.098005
5392  paineph01       2624.0    95  0.000000        N  -0.863249
3286   houkra01       2562.0    91  0.000000        N  -0.642007
7477   wallmu01       3308.0    91  0.000000        N  -0.642007
1028  burtsmo01       2184.0    90  0.000000        N  -0.588853
7072  tayloha03       2051.0    90  0.000000        N  -0.588853
5410  papaial01       2701.0    89  0.000000        N  -0.536569
7553   weikdi01       2126.0    78  0.000000        N  -0.019732
1577  crimija01       2134.0    75  0.000000        N   0.102489
600   biscafr01       2342.0    74  0.000000        N   0.141433
7649  wieslbo01       2472.0    71  0.000000        N   0.252863
5107  negraro01       2063.0    66  0.000000        N   0.420530
3437  jacobto01       2396.0     2  0.000000        N   0.562115
5985  riebeha01       2579.0    61  0.000000        N   0.565566
2569  gillebo01       2191.0    58  0.000000        N   0.641696
339   bambege01       2925.0    11  0.000000        N   0.766611
5626  piconma01       2462.0    13  0.000000        N   0.802088
768   bowmaro01       2068.0    50  0.000000        N   0.804682
6314  sanchra01       2952.0    49  0.000000        N   0.820958
4377  mallobo01       2194.0    48  0.000000        N   0.836323
5699  posselo01       2110.0    16  0.000000        N   0.848510
7849  yankoge01       2507.0    18  0.000000        N   0.874931
4780  mickeed01       2428.0    18  0.000000        N   0.874931
6190   rossbo01       2153.0    20  0.000000        N   0.897731
1462  connebi01       2855.0    25  0.000000        N   0.938889
3826  konikal01       2234.0    35  0.000000        N   0.953287
5479  pearcji01       2063.0    30  0.000000        N   0.957413

[323 rows x 6 columns]

/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:362: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s